<div class="l-constrained">
  <section class="l-firm">
    <%= heading_tag(t('firms.title'), level: 1) %>
    <%= heading_tag(t('firms.headings.provide_us_info'), level: 2, class: 'l-firm__subheading') %>

    <p><%= t('firms.introduction') %></p>

    <%= heading_tag(t('firms.headings.currently_known_as'), level: 2, class: 'l-firm__subheading') %>
  </section>

  <div class="l-firm l-firm--modules">
    <section class="firm">
      <%= heading_tag(@firm.registered_name, level: 3, class: 'firm__title t-firm-title') %>
      <p class="firm__number">FCA number: <%= @firm.fca_number %></p>
      <div class="firm__button">
        <%= link_to t('firms.select_firm'), edit_principal_firm_questionnaire_path(current_user, current_user.firm), class: 'button button--primary t-firm-questionnaire' %>
      </div>
    </section>

    <% if @firm.subsidiaries? %>
      <%= heading_tag(t('firms.headings.trading_name'), level: 2, class: 'l-firm__subheading') %>
      <%= render @firm.subsidiaries %>
    <% end %>
  </div>
</div>
