<div class="l-constrained">
  <section class="l-questionnaire">
    <%= heading_tag(t('questionnaire.adviser.title'), level: 1) %>
    <p><%= t('questionnaire.adviser.description') %></p>
    <p><%= t('required') %></p>

    <%= form_for @adviser, url: principal_firm_advisers_path, html: { class: 'form' }, data: { submit: '' }, builder: Dough::Forms::Builders::Validation do |f| %>
      <%= f.validation_summary %>

      <%= f.form_row :reference_number do %>
        <fieldset class="form__group">
          <legend class="l-questionnaire__legend"><%= t('questionnaire.adviser.advisers_details.heading') %></legend>
          <p><%= t('questionnaire.adviser.advisers_details.description') %></p>

          <div class="l-questionnaire__row">
            <div class="l-questionnaire__field">
              <%= f.errors_for :reference_number %>
              <%= f.label :reference_number, t('questionnaire.adviser.advisers_details.label'), class: 'form__label-heading' %>
              <%= f.text_field :reference_number, class: 'adviser-reference-number-field t-reference-number', maxlength: 8, data: { input: '', url: lookup_adviser_path(id: '') } %>
            </div>
          </div>

          <div class="notice is-hidden" data-notice="success"></div>
          <div class="notice notice--error is-hidden" data-notice="error"></div>
        </fieldset>
      <% end %>

      <hr>

      <section>
        <%= heading_tag(t('questionnaire.adviser.geographical_coverage.heading'), level: 2, class: 'heading-small') %>
        <%= paragraphs t('questionnaire.adviser.geographical_coverage.description') %>

        <fieldset class="form__group" data-dough-field-target="1">
          <%= f.form_row :postcode do %>
            <div>
              <%= f.errors_for :postcode %>
              <%= f.label :postcode, required_asterisk(t('questionnaire.adviser.geographical_coverage.postcode')), class: 'form__label-heading' %>
              <%= f.text_field :postcode, class: 't-postcode form__input-container--medium' %>
            </div>
          <% end %>

          <%= f.form_row :travel_distance do %>
            <div>
              <%= f.errors_for :travel_distance %>
              <%= f.label :travel_distance, required_asterisk(t('questionnaire.adviser.geographical_coverage.travel_distance')), class: 'form__label-heading' %>
              <%= f.select :travel_distance, TravelDistance.all, { include_blank: true }, { class: 't-travel-distance' } %>
            </div>
          <% end %>
        </fieldset>
      </section>

      <hr>

      <section>
        <%= heading_tag(t('questionnaire.adviser.advisers_qualifications.heading'), level: 2, class: 'heading-small') %>
        <p class="l-questionnaire__section-description"><%= t('questionnaire.adviser.advisers_qualifications.description') %></p>

        <fieldset class="form__group">
          <legend class="l-questionnaire__legend"><%= t('questionnaire.adviser.accreditations.heading') %></legend>

          <%= f.form_row :accreditation_ids do %>
            <%= f.errors_for :accreditation_ids %>

            <%= f.collection_check_boxes(:accreditation_ids, Accreditation.all, :id, :name) do |b| %>
              <div class="form__group-item">
                <%= b.label { b.check_box(class: 'form__group-input') + b.text } %>
              </div>
            <% end %>
          <% end %>
        </fieldset>

        <fieldset class="form__group">
          <legend class="l-questionnaire__legend"><%= t('questionnaire.adviser.qualifications.heading') %></legend>

          <%= f.form_row :qualification_ids do %>
            <%= f.errors_for :qualification_ids %>

            <%= f.collection_check_boxes(:qualification_ids, Qualification.all, :id, :name) do |b| %>
              <div class="form__group-item">
                <%= b.label { b.check_box(class: 'form__group-input') + b.text } %>
              </div>
            <% end %>
          <% end %>
        </fieldset>

        <fieldset class="form__group">
          <legend class="l-questionnaire__legend"><%= t('questionnaire.adviser.professional_standing.heading') %></legend>
          <p><%= t('questionnaire.adviser.professional_standing.description') %></p>

          <%= f.form_row :professional_standing_ids do %>
            <%= f.errors_for :professional_standing_ids %>
            <%= f.collection_check_boxes(:professional_standing_ids, ProfessionalStanding.all, :id, :name) do |b| %>
              <div class="form__group-item">
                <%= b.label { b.check_box(class: 'form__group-input') + b.text } %>
              </div>
            <% end %>
          <% end %>
        </fieldset>

        <fieldset class="form__group">
          <legend class="l-questionnaire__legend"><%= t('questionnaire.adviser.professional_body.heading') %></legend>
          <p><%= t('questionnaire.adviser.professional_body.description') %></p>

          <%= f.form_row :professional_body_ids do %>
            <%= f.errors_for :professional_body_ids %>

            <%= f.collection_check_boxes(:professional_body_ids, ProfessionalBody.all, :id, :name) do |b| %>
              <div class="form__group-item">
                <%= b.label { b.check_box(class: 'form__group-input') + b.text } %>
              </div>
            <% end %>
          <% end %>
        </fieldset>
      </section>

      <%= f.form_row :confirmed_disclaimer do %>
        <%= f.errors_for :confirmed_disclaimer %>
        <div class="form__group-item">
          <label>
            <%= f.check_box(:confirmed_disclaimer, class: 't-confirmed-disclaimer l-identity__checkbox form__group-input') %>
            <%= f.label :confirmed_disclaimer, t('confirmation_statement'), class: 'l-identity__disclaimer-label' %>
          </label>
        </div>
      <% end %>

      <div class="l-questionnaire__button">
        <%= f.submit t('questionnaire.adviser.button_add'), class: 'button button--primary t-submit' %>
      </div>
    <% end %>
  </section>
</div>
