<div class="l-constrained">
  <div class="l-3col-even">
    <h2><%= t('dashboard.firms_heading') %> (<span class="t-firm-count"><%= firm_count %></span>)</h2>
    <ul class="dashboard-list t-dashboard-firms">
      <%= render partial: 'dashboard/firms/firm', locals: { firm: @firm, firm_type: :main_firm } %>
      <%= render partial: 'dashboard/firms/firm', collection: @trading_names, locals: { firm_type: :trading_name } %>
    </ul>

    <div class="dashboard__action-button">
      <%= button_primary t('dashboard.add_trading_name_button') %>
    </div>
  </div>

  <div class="l-3col-even">
    <h2><%= t('dashboard.advisers_heading') %> (<span class="t-adviser-count"><%= number_of_advisers(@firm) %></span>)</h2>
    <ul class="dashboard-list">
      <% most_recently_edited_advisers(@firm).each do |adviser| %>
        <li class="dashboard-list__item">
          <div class="dashboard-list__item__type">
            <%= t("dashboard.adviser") %>
          </div>
          <div class="dashboard-list__item__name">
            <%= adviser.name %>
          </div>
        </li>
      <% end %>
    </ul>
    <div class="dashboard__action-button">
      <%= button_primary t('dashboard.add_adviser_button') %>
    </div>
  </div>
</div>
