<h1>
  <%= @principal.first_name %> <%= @principal.last_name %>
  <small>FCA Number <%= @principal.fca_number %></small>
</h1>

<div class="panel panel-default">
  <div class="panel-body">
  <%= form_for([:admin, :retirement, @principal]) do |f| %>
    <%= render 'admin/shared/errors', model: @principal %>

    <div class="form-group">
      <%= f.label :first_name, 'Name' %>
      <div class="row">
        <div class="col-sm-3">
          <%= f.text_field(:first_name, class: 'form-control') %>
        </div>
        <div class="col-sm-3">
          <%= f.text_field(:last_name, class: 'form-control') %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :fca_number %>
      <%= f.text_field(:fca_number, class: 'form-control') %>
    </div>

    <div class="form-group">
      <%= f.label :job_title %>
      <%= f.text_field(:job_title, class: 'form-control') %>
    </div>

    <div class="form-group">
      <%= f.label :email_address, 'Email address (as shown in directory)' %>
      <%= f.text_field(:email_address, class: 'form-control t-email-address') %>
    </div>

    <div class="form-group">
      <%= f.label :telephone_number %>
      <%= f.text_field(:telephone_number, class: 'form-control') %>
    </div>

    <div class="form-group">
      <h4>Disclaimer</h4>
      <div class="checkbox">
        <label for="principal_confirmed_disclaimer">
          <%= f.check_box :confirmed_disclaimer %>
          Confirmed disclaimer?
        </label>
      </div>
    </div>

    <%= f.submit 'Save', class: 'btn btn-primary t-save' %>
  <% end %>
  </div>
</div>
