<h1>
  <%= "#{@principal.first_name} #{@principal.last_name}" %>
  <small>FCA Number <%= @principal.fca_number %></small>
</h1>

<div class="panel panel-default">
  <div class="panel-body">
  <%= form_for([:admin, @principal]) do |f| %>
    <%= render 'admin/shared/errors', model: @principal %>

    <div class="form-group">
      <label for="principal_website_address">Website Address</label>
      <%= f.text_field(:website_address, class: 'form-control') %>
    </div>

    <%= f.submit 'Save', class: 'btn btn-primary' %>
  <% end %>
  </div>
</div>
