<h1>
  <%= "#{@principal.first_name} #{@principal.last_name}" %>
  <small>FCA Number <%= @principal.fca_number %></small>
</h1>

<div class="panel panel-default">
  <div class="panel-body">
    <p>
      <strong>Firm:</strong> <%= link_to @principal.firm.registered_name, admin_retirement_firm_path(@principal.firm) %>
    </p>
    <p>
      <strong>FCA Number:</strong> <%= @principal.fca_number %>
    </p>
    <p>
      <strong>Name:</strong> <%= "#{@principal.first_name} #{@principal.last_name}" %>
    </p>
    <p>
      <strong>Job Title:</strong> <%= @principal.job_title %>
    </p>
    <p>
      <strong>Phone Number:</strong> <%= @principal.telephone_number %>
    </p>
    <p>
      <strong>Email:</strong>
      <%= mail_to @principal.email_address %>
      <% if @principal.email_address != @user.email %>
        (login with <%= mail_to @user.email %>)
      <% end %>
    </p>
    <p>
      <strong>Added:</strong> <%= @principal.created_at.to_s(:long) %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <%= render 'admin/shared/sign_in_as_principal', principal: @principal %>

    <h2>Edit</h2>
    <p>
      <%= link_to "Edit Principal's directory information", edit_admin_principal_path(@principal), class: 'btn btn-success t-edit-principal' %>
    </p>

    <p>
      <%= link_to "Edit Principal's login in credentials", edit_admin_principal_user_path(@principal), class: 'btn btn-success t-edit-user' %>
    </p>
  </div>
  <div class="col-xs-6 text-right">
    <%= button_to 'Delete principal, firm and all related trading names',
                  admin_principal_path(@principal.id),
                  class: 't-delete btn btn-danger',
                  method: :delete,
                  data: { confirm: 'Are you sure you want to delete this principal and all related firm, adviser, office and trading name data?' } %>
  </div>
</div>
