<div class="row">
  <div class="col-xs-10 col-xs-push-2">
    <h1>Registered Firms</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-2">
    <%= search_form_for @search, url: admin_firms_path, method: :get do |f| %>
      <div class="form-group">
        <%= f.label :principal_first_name_cont, 'Search Principal Names' %>
        <%= f.search_field :principal_first_name_cont, class: 'form-control', placeholder: 'First Name' %>
      </div>
      <div class="form-group">
        <%= f.search_field :principal_last_name_cont, class: 'form-control', placeholder: 'Last Name' %>
      </div>
      <div class="form-group">
        <%= f.label :fca_number_eq, 'Find by FCA Number' %>
        <%= f.search_field :fca_number_eq, class: 'form-control' %>
        <small>Exact matches returned only</small>
      </div>
      <div class="form-group">
        <%= f.label :registered_name_cont, 'Search Firm Names' %>
        <%= f.search_field :registered_name_cont, class: 'form-control' %>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    <% end %>
    <p>
      <%= page_entries_info @firms %>
    </p>
    <p>
      <%= link_to "Firms' login report", login_report_admin_firms_path %>
    </p>
    <p>
      <%= link_to "Firms adviser report", adviser_report_admin_firms_path(format: :csv) %>
    </p>
  </div>
  <div class="col-xs-10">
    <table class="table table-bordered">
      <tr>
        <th>
          <%= sort_link(@search, :principal_first_name, 'Principal First Name') %>
          &
          <%= sort_link(@search, :principal_last_name, 'Last Name') %>
        </th>
        <th><%= sort_link(@search, :fca_number, 'FCA Number') %></th>
        <th><%= sort_link(@search, :registered_name, 'Firm Registered Name') %></th>
        <th># Advisers</th>
        <th><%= sort_link(@search, :created_at, 'Added') %></th>
      </tr>
      <% if @firms.present? %>
        <% @firms.each do |firm| %>
          <tr>
            <td>
              <% if firm.principal.present? %>
                <%= link_to "#{firm.principal.first_name} #{firm.principal.last_name}", admin_principal_path(firm.principal) %>
              <% else %>
                N/A
              <% end %>
            </td>
            <td><%= firm.fca_number %></td>
            <td>
              <%= link_to firm.registered_name, admin_firm_path(firm) %>
              <% if firm.subsidiary? %>
                <br />
                <em>subsidiary of <%= link_to firm.parent.registered_name, admin_firm_path(firm.parent) %></em>
              <% end %>
            </td>
            <td><%= link_to(firm.advisers.count, admin_firm_advisers_path(firm)) %></td>
            <td><%= firm.created_at.to_s(:short) %></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="6">No firms to display</td>
        </tr>
      <% end %>
    </table>

    <p>
      <%= paginate @firms %>
    </p>
  </div>
</div>
