<h1>Firms</h1>

<p>
  <%= page_entries_info @firms %>
</p>

<table class="table table-bordered">
  <tr>
    <th>Principal</th>
    <th>FCA Number</th>
    <th>Registered Name</th>
    <th>Parent Firm</th>
    <th># Advisers</th>
    <th>Added</th>
  </tr>
  <% if @firms.present? %>
    <% @firms.each do |firm| %>
      <tr>
        <td>
          <% if firm.principal.present? %>
            <%= "#{firm.principal.first_name} #{firm.principal.last_name}" %>
          <% else %>
            N/A
          <% end %>
        </td>
        <td><%= firm.fca_number %></td>
        <td><%= firm.registered_name %></td>
        <td>
          <% if firm.subsidiary? %>
            <%= firm.parent.registered_name %>
          <% else %>
            None
          <% end %>
        </td>
        <td><%= link_to(firm.advisers.count, admin_firm_advisers_path(firm)) %></td>
        <td><%= firm.created_at.to_s(:short) %></td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="6">No firms to display</td>
    </tr>
  <% end %>
</table>

<p>
  <%= paginate @firms %>
</p>

