<h1>
  <%= @firm.registered_name %>
  <small>FCA Number <%= @firm.fca_number %></small>
</h1>

<div class="panel panel-default">
  <div class="panel-body">
    <p>
      <strong>Principal:</strong>
      <%= link_to "#{@firm.principal.first_name} #{@firm.principal.last_name}", admin_principal_path(@firm.principal) %>
    </p>
    <p>
      <strong>FCA Number:</strong> <%= @firm.fca_number %>
    </p>
    <p>
      <strong>Registered Name:</strong> <%= @firm.registered_name %>
    </p>
    <p>
      <strong>Email Address:</strong> <%= mail_to @firm.email_address %>
    </p>
    <p>
      <strong>Phone Number:</strong> <%= @firm.telephone_number %>
    </p>
    <p>
      <strong>Address:</strong>
      <% if @firm.address_line_one.present? %>
        <%= @firm.address_line_one %>,
        <%= "#{@firm.address_line_two}," if @firm.address_line_two.present? %>
        <%= @firm.address_town %>,
        <%= @firm.address_county %>,
        <%= @firm.address_postcode %>
      <% else %>
        Not provided
      <% end %>
    </p>
    <% if @firm.latitude.present? && @firm.longitude.present? %>
      <p>
        <strong>Map:</strong>
        <%= link_to "#{@firm.latitude}, #{@firm.longitude}", "http://maps.google.com/maps?z=12&t=m&q=#{@firm.latitude},#{@firm.longitude}" %>
      </p>
    <% end %>
    <p>
      <strong>Added:</strong> <%= @firm.created_at.to_s(:long) %>
    </p>
  </div>
</div>

<% if @firm.subsidiary? %>
  <h2>Parent Firm</h2>
  <p>
    <%= @firm.registered_name %> is a subsidiary of
    <%= link_to @firm.parent.registered_name, admin_firm_path(@firm.parent) %>.
  </p>
<% end %>

<% if @firm.subsidiaries.present? %>
  <h2>Subsidiaries</h2>
  <p>
    <%= @firm.registered_name %> has the following subsidiaries:
  </p>

  <ul>
    <% @firm.subsidiaries.each do |subsidiary| %>
      <li><%= link_to subsidiary.registered_name, admin_firm_path(subsidiary) %></li>
    <% end %>
  </ul>
<% end %>

<h2>Advisers</h2>
<% if @firm.advisers.present? %>
  <p>
    <%= @firm.registered_name %> has the following advisers:
  </p>

  <ul>
    <% @firm.advisers.each do |adviser| %>
      <li><%= link_to adviser.name, admin_adviser_path(adviser) %>, added <%= adviser.created_at.to_s(:short) %></li>
    <% end %>
  </ul>

  <%= button_to 'Move advisers', new_admin_move_adviser_path,
                :class => "t-move-advisers", :method => :get %>
<% else %>
  <p>No advisers registered.</p>
<% end %>

<% if @firm.email_address.present? %>
  <h2>Questionnaire Responses</h2>
  <ul>
    <% [
         :in_person_advice_methods,
         :other_advice_methods,
         :free_initial_meeting,
         :initial_meeting_duration,
         :initial_advice_fee_structures,
         :ongoing_advice_fee_structures,
         :allowed_payment_methods,
         :minimum_fixed_fee,
         :percent_total,
         *t('questionnaire.retirement_advice.business_split.advice_options').keys,
         :investment_sizes
       ].each do |attribute|
    %>
      <li>
        <strong><%= attribute.to_s.humanize %>:</strong>
        <%= render_questionnaire_response(@firm, attribute) %>
      </li>
    <% end %>
  </ul>
<% end %>
