<%= f.fields_for :opening_time do |ot| %>
  <div class="l-col">
    <strong><%= t('self_service.office_edit.weekday_opening_hours')%></strong>
  </div>
  <br />

  <div class="l-2col-even-row">
    <div class="l-2col-even">
      <%= ot.form_row :weekday_opening_time do %>
        <%= ot.errors_for :weekday_opening_time %>
        <%= ot.label :weekday_opening_time,
                    t('self_service.office_edit.opening_time_label'),
                    class: 'form__label-heading' %>
        <%= ot.time_select :weekday_opening_time, ampm: true, minute_step: 5, class: 't-weekday-opening-time' %>
      <% end %>
    </div>

    <div class="l-2col-even">
      <%= ot.form_row :weekday_closing_time do %>
        <%= ot.errors_for :weekday_closing_time %>
        <%= ot.label :weekday_closing_time,
                    t('self_service.office_edit.closing_time_label'),
                    class: 'form__label-heading' %>
        <%= ot.time_select :weekday_closing_time, ampm: true, minute_step: 5, class: 't-weekday-closing-time' %>
      <% end %>
    </div>
  </div>

  <div>
    <strong><%= t('self_service.office_edit.saturday_opening_hours')%></strong>
    <p>
      <%= ot.radio_button :open_saturday, 1, class: 'form__group-input t-open-saturday', checked: ot.object.open_saturday?, data: { show_hide: 'data-saturday-fieldset' } %>
      <%= t('registration.answer_yes') %>

      <%= ot.radio_button :open_saturday, 0, class: 'form__group-input t-closed-saturday', checked: !ot.object.open_saturday?, data: { show_hide: 'data-saturday-fieldset' } %>
      <%= t('registration.answer_no') %>
    </p>
  </div>

  <div class="l-2col-even-row" data-saturday-fieldset>
    <div class="l-2col-even">
      <%= ot.form_row :saturday_opening_hours do %>
        <%= ot.errors_for :saturday_opening_time %>

        <%= ot.label :saturday_opening_time,
                    t('self_service.office_edit.opening_time_label'),
                    class: 'form__label-heading' %>
        <%= ot.time_select :saturday_opening_time, ampm: true, minute_step: 5, class: 't-saturday-opening-time' %>
      <% end %>
    </div>

    <div class="l-2col-even">
      <%= ot.form_row :saturday_closing_time do %>
        <%= ot.errors_for :saturday_closing_time %>
        <%= ot.label :saturday_closing_time,
                    t('self_service.office_edit.closing_time_label'),
                    class: 'form__label-heading' %>
        <%= ot.time_select :saturday_closing_time, ampm: true, minute_step: 5, class: 't-saturday-closing-time' %>
      <% end %>
    </div>
  </div>

  <div>
    <strong><%= t('self_service.office_edit.sunday_opening_hours')%></strong>
    <p>
      <%= ot.radio_button :open_sunday, 1, class: 'form__group-input t-open-sunday', checked: ot.object.open_sunday?, data: { show_hide: 'data-sunday-fieldset' } %>
      <%= t('registration.answer_yes') %>

      <%= ot.radio_button :open_sunday, 0, class: 'form__group-input t-closed-sunday', checked: !ot.object.open_sunday?, data: { show_hide: 'data-sunday-fieldset' } %>
      <%= t('registration.answer_no') %>
    </p>
  </div>

  <div class="l-2col-even-row" data-sunday-fieldset>
    <div class="l-2col-even">
      <%= ot.form_row :sunday_opening_hours do %>
        <%= ot.errors_for :sunday_opening_time %>

        <%= ot.label :sunday_opening_time,
                    t('self_service.office_edit.opening_time_label'),
                    class: 'form__label-heading' %>
        <%= ot.time_select :sunday_opening_time, ampm: true, minute_step: 5, class: 't-sunday-opening-time' %>
      <% end %>
    </div>

    <div class="l-2col-even">
      <%= ot.form_row :sunday_closing_time do %>
        <%= ot.errors_for :sunday_closing_time %>
        <%= ot.label :sunday_closing_time,
                    t('self_service.office_edit.closing_time_label'),
                    class: 'form__label-heading' %>
        <%= ot.time_select :sunday_closing_time, ampm: true, minute_step: 5, class: 't-sunday-closing-time' %>
      <% end %>
    </div>
  </div>
<% end %>
