<h1><%= t('.title') %></h1>
<%= form_for(resource, as: resource_name,
                         url: [resource_name, :password_expired],
                         html: {class: "form", novalidate: 'novalidate', method: :put},
                         builder: Dough::Forms::Builders::Validation) do |f| %>

  <%= render partial: 'devise/shared/error_messages' %>

    <div class="registration__row">
      <div class="registration__field">
        <%= f.form_row :current_password do %>
          <%= f.errors_for :current_password %>
          <%= f.label :current_password, class: "form__label-heading" %>
          <%= f.password_field :current_password, autocomplete: "off", "aria-describedby" => "tooltip_current_password" %>
        <% end %>
      </div>

      <div class="registration__helper">
        <div class="field-help-text field-help-text--jshide" id="tooltip_current_password" data-dough-component="FieldHelpText">
          <div class="tooltip__content-container">
            <p class="tooltip__text"><%= t("authentication.password_expiry_page.field_help_texts.current_password") %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="registration__row">
      <div class="registration__field">
        <%= f.form_row :password do %>
          <%= f.errors_for :password %>
          <%= f.label :password, t("authentication.password_expiry_page.field_labels.new_password"), class: "form__label-heading" %>
          <%= f.password_field :password, autocomplete: "off", "aria-describedby" => "tooltip_new_password" %>
        <% end %>
      </div>

      <div class="registration__helper">
        <div class="field-help-text field-help-text--jshide" id="tooltip_new_password" data-dough-component="FieldHelpText">
          <div class="tooltip__content-container">
            <p class="tooltip__text"><%= t("authentication.password_expiry_page.field_help_texts.password") %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="registration__row">
      <div class="registration__field">
        <%= f.form_row :password_confirmation do %>
          <%= f.errors_for :password_confirmation %>
          <%= f.label :password_confirmation, t("authentication.password_expiry_page.field_labels.new_password_confirmation"), class: "form__label-heading" %>
          <%= f.password_field :password_confirmation, autocomplete: "off", "aria-describedby" => "tooltip_password_confirmation" %>
        <% end %>
      </div>

      <div class="registration__helper">
        <div class="field-help-text field-help-text--jshide" id="tooltip_password_confirmation" data-dough-component="FieldHelpText">
          <div class="tooltip__content-container">
            <p class="tooltip__text"><%= t("authentication.password_expiry_page.field_help_texts.password_confirmation") %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="registration__row">
      <div class="registration__field">
        <div class="form__row">
          <%= f.submit t("authentication.settings.change_password"), class: "button button--primary" %>
        </div>
      </div>
    </div>
<% end %>
