<div class="l-constrained">
  <section class="l-identity">
    <%= heading_tag(t('registration.heading'), level: 1, class: 'l-pre-qualification-questions__heading') %>

    <form class="l-pre-qualification-questions__section">
      <%= heading_tag(t('registration.firm.heading'), level: 2, class: 'l-pre-qualification-questions__question') %>
      <small><%= t('required') %></small>

      <div class="l-identity__field-group l-identity__field-group--first">
        <label class="l-identity__label"><%= t('registration.firm.reference_number') %></label>
        <input type="text" class="l-identity__input"/>
      </div>

      <div class="l-identity__field-group">
        <label class="l-identity__label"><%= t('registration.firm.website_address') %></label>
        <input type="text" class="l-identity__input"/>
      </div>

      <hr class="l-identity__hr">

      <%= heading_tag(t('registration.principal.heading'), level: 2, class: 'l-pre-qualification-questions__question') %>
      <p><%= t('registration.principal.explanation') %></p>

      <div class="l-identity__field-group l-identity__field-group--first">
        <label class="l-identity__label"><%= t('registration.principal.first_name') %></label>
        <input type="text" class="l-identity__input"/>
      </div>

      <div class="l-identity__field-group">
        <label class="l-identity__label"><%= t('registration.principal.last_name') %></label>
        <input type="text" class="l-identity__input"  />
      </div>

      <div class="l-identity__field-group">
        <label class="l-identity__label"><%= t('registration.principal.job_title') %></label>
        <input type="text" class="l-identity__input l-identity__input--long"/>
      </div>

      <div class="l-identity__field-group">
        <label class="l-identity__label"><%= t('registration.principal.email_address') %></label>
        <input type="text" class="l-identity__input l-identity__input--long"/>
      </div>

      <div class="l-identity__field-group">
        <label class="l-identity__label"><%= t('registration.principal.telephone_number') %></label>
        <input type="text" class="l-identity__input"/>
      </div>

      <div class="l-identity__disclaimer">
        <input type="checkbox" class="l-identity__checkbox"/>
        <label class="l-identity__disclaimer-label"><%= t('registration.principal.disclaimer') %></label>
      </div>

      <%= button_primary t('registration.register_button') %>

    </form>
  </section>
</div>
