<div class="l-constrained">
  <section class="l-identity">
    <%= heading_tag(t('registration.heading'), level: 1, class: 'l-pre-qualification-questions__heading') %>
    <p><%= t('required') %></p>

    <%= form_for @principal, html: { class: 'l-pre-qualification-questions__section form' },
      builder: Dough::Forms::Builders::Validation do |f| %>

      <%= f.validation_summary %>

      <%= heading_tag(t('registration.firm.heading'), level: 2, class: '') %>

      <div class="l-identity__row">
        <div class="l-identity__field">
          <div class="form__row">
            <%= f.label :fca_number, t('registration.firm.reference_number'), class: 'form__label-heading' %>
            <%= f.text_field :fca_number, class: 't-reference-number' %>
          </div>
        </div>
      </div>

      <div class="l-identity__row">
        <div class="l-identity__field">
          <div class="form__row">
            <%= f.label :website_address, t('registration.firm.website_address'), class: 'form__label-heading' %>
            <%= f.text_field :website_address, class: 't-website-address' %>
          </div>
        </div>
      </div>

      <hr>

      <%= heading_tag(t('registration.principal.heading'), level: 2, class: '') %>
      <p><%= t('registration.principal.explanation') %></p>

      <div class="l-identity__row">
        <div class="l-identity__field">
          <div class="form__row">
            <%= f.label :first_name, t('registration.principal.first_name'), class: 'form__label-heading' %>
            <%= f.text_field :first_name, class: 't-first-name' %>
          </div>
        </div>
      </div>

      <div class="l-identity__row">
        <div class="l-identity__field">
          <div class="form__row">
            <%= f.label :last_name, t('registration.principal.last_name'), class: 'form__label-heading' %>
            <%= f.text_field :last_name, class: 't-last-name' %>
          </div>
        </div>
      </div>

      <div class="l-identity__row">
        <div class="l-identity__field">
          <div class="form__row">
            <%= f.label :job_title, t('registration.principal.job_title'), class: 'form__label-heading' %>
            <%= f.text_field :job_title, class: 't-job-title' %>
          </div>
        </div>
      </div>

      <div class="l-identity__row">
        <div class="l-identity__field">
          <div class="form__row">
            <%= f.label :email_address, t('registration.principal.email_address'), class: 'form__label-heading' %>
            <%= f.email_field :email_address, class: 't-email-address' %>
          </div>
        </div>
      </div>

      <div class="l-identity__row">
        <div class="l-identity__field">
          <div class="form__row">
            <%= f.label :telephone_number, t('registration.principal.telephone_number'), class: 'form__label-heading' %>
            <%= f.text_field :telephone_number, class: 't-telephone-number' %>
          </div>
        </div>
      </div>

      <div class="l-identity__row">
        <div class="l-identity__field l-identity__field--disclaimer">
          <div class="form__row">
            <%= f.check_box :confirmed_disclaimer, class: 'l-identity__checkbox t-confirmation' %>
            <%= f.label :confirmed_disclaimer, t('registration.principal.disclaimer'), class: 'l-identity__disclaimer-label' %>
          </div>
        </div>
      </div>

      <%= button_primary t('registration.register_button') %>
    <% end %>
  </section>
</div>
