<div class="l-constrained">
  <section class="l-pre-qualification">
    <%= heading_tag(t('registration.heading'), level: 1) %>
    <p class="l-pre-qualification__subheading"><%= t('registration.subheading') %></p>

    <%= form_for @prequalification, url: prequalify_principals_path do |f| %>
      <%= f.form_row do %>
        <fieldset class="form__group form__group--inline t-question-1">
          <legend class="l-pre-qualification__question"><%= t('registration.question_one.heading') %></legend>
          <p><%= t('registration.question_one.explanation') %></p>

          <div class="form__group-item">
            <%= f.label :question_1 do %>
              <%= f.radio_button :question_1, 1, class: 'form__group-input', checked: true %>
              <%= t('registration.answer_yes') %>
            <% end %>
          </div>

          <div class="form__group-item">
            <%= f.label :question_1 do %>
              <%= f.radio_button :question_1, 0, class: 'form__group-input' %>
              <%= t('registration.answer_no') %>
            <% end %>
          </div>
        </fieldset>
      <% end %>

      <%= f.form_row do %>
        <fieldset class="form__group form__group--inline t-question-2">
          <legend class="l-pre-qualification__question"><%= t('registration.question_two.heading') %></legend>
          <p><%= t('registration.question_two.explanation') %></p>

          <div class="form__group-item">
            <%= f.label :question_2 do %>
              <%= f.radio_button :question_2, 1, class: 'form__group-input', checked: true %>
              <%= t('registration.answer_yes') %>
            <% end %>
          </div>

          <div class="form__group-item">
            <%= f.label :question_2 do %>
              <%= f.radio_button :question_2, 0, class: 'form__group-input' %>
              <%= t('registration.answer_no') %>
            <% end %>
          </div>
        </fieldset>
      <% end %>

      <%= f.form_row do %>
        <fieldset class="form__group form__group--inline t-question-3">
          <legend class="l-pre-qualification__question"><%= t('registration.question_three.heading') %></legend>
          <p><%= t('registration.question_three.explanation') %></p>

          <div class="form__group-item">
            <%= f.label :question_3 do %>
              <%= f.radio_button :question_3, 1, class: 'form__group-input', checked: true %>
              <%= t('registration.answer_yes') %>
            <% end %>
          </div>

          <div class="form__group-item">
            <%= f.label :question_3 do %>
              <%= f.radio_button :question_3, 0, class: 'form__group-input' %>
              <%= t('registration.answer_no') %>
            <% end %>
          </div>
        </fieldset>
      <% end %>

      <%= button_primary t('registration.button_next') %>
    <% end %>
  </section>
</div>
