<div class="l-constrained">
  <section class="l-pre-qualification-questions">
    <%= heading_tag(t('registration.heading'), level: 1) %>
    <p class="l-pre-qualification-questions__intro-text"><%= t('registration.introduction') %></p>

    <%= form_for @prequalification, url: prequalify_principals_path, html: { class: 'form' } do |f| %>
      <%= f.form_row :firm_active_question do %>
        <fieldset class="form__group form__group--inline t-firm-active-question">
          <legend class="l-pre-qualification-questions__question"><%= t('registration.firm_active_question.heading') %></legend>
          <p><%= t('registration.firm_active_question.description') %></p>

          <div class="form__group-item">
            <%= f.label :firm_active_question do %>
              <%= f.radio_button :firm_active_question, 1, class: 'form__group-input' %>
              <%= t('registration.answer_yes') %>
            <% end %>
          </div>

          <div class="form__group-item">
            <%= f.label :firm_active_question do %>
              <%= f.radio_button :firm_active_question, 0, class: 'form__group-input' %>
              <%= t('registration.answer_no') %>
            <% end %>
          </div>
        </fieldset>
      <% end %>

      <%= f.form_row :firm_business_model_question do %>
        <fieldset class="form__group form__group--inline t-firm-business-model-question">
          <legend class="l-pre-qualification-questions__question"><%= t('registration.firm_business_model_question.heading') %></legend>
          <p><%= t('registration.firm_business_model_question.description') %></p>

          <div class="form__group-item">
            <%= f.label :firm_business_model_question do %>
              <%= f.radio_button :firm_business_model_question, 1, class: 'form__group-input' %>
              <%= t('registration.answer_yes') %>
            <% end %>
          </div>

          <div class="form__group-item">
            <%= f.label :firm_business_model_question do %>
              <%= f.radio_button :firm_business_model_question, 0, class: 'form__group-input' %>
              <%= t('registration.answer_no') %>
            <% end %>
          </div>
        </fieldset>
      <% end %>

      <div data-dough-component="FieldToggleVisibility">
        <%= f.form_row :firm_status_question do %>
          <fieldset class="form__group form__group--inline t-firm-status-question" >
            <legend class="l-pre-qualification-questions__question"><%= t('registration.firm_status_question.heading') %></legend>
            <p><%= t('registration.firm_status_question.description') %></p>

            <div class="form__group-item">
              <%= f.label :firm_status_question do %>
                <%= f.radio_button :firm_status_question, 1, class: 'form__group-input js-radio-button', data: { dough_field_trigger: 'hide' } %>
                <%= t('registration.firm_status_question.answer_one') %>
              <% end %>
            </div>

            <div class="form__group-item">
              <%= f.label :firm_status_question do %>
                <%= f.radio_button :firm_status_question, 0, class: 'form__group-input js-radio-button', data: { dough_field_trigger: 'show' } %>
                <%= t('registration.firm_status_question.answer_two') %>
                <span class="visually-hidden"><%= t('registration.firm_status_question.notice') %></span>
              <% end %>
            </div>
          </fieldset>
        <% end %>

        <%= f.form_row :firm_particular_market_question do %>
          <fieldset class="form__group form__group--inline is-hidden t-firm-particular-market-question" data-dough-field-target="">
            <legend class="l-pre-qualification-questions__question"><%= t('registration.firm_particular_market_question.heading') %></legend>
            <p><%= t('registration.firm_particular_market_question.description') %></p>

            <div class="form__group-item">
              <%= f.label :firm_particular_market_question do %>
                <%= f.radio_button :firm_particular_market_question, 1, class: 'form__group-input' %>
                <%= t('registration.answer_yes') %>
              <% end %>
            </div>

            <div class="form__group-item">
              <%= f.label :firm_particular_market_question do %>
                <%= f.radio_button :firm_particular_market_question, 0, class: 'form__group-input' %>
                <%= t('registration.answer_no') %>
              <% end %>
            </div>
          </fieldset>
        <% end %>
      </div>

      <%= button_primary t('registration.button_next') %>
    <% end %>
  </section>
</div>
