<div class="l-constrained">
  <section class="l-pre-qualification">
    <%= heading_tag(t('registration.heading'), level: 1) %>
    <p class="l-pre-qualification__intro-text"><%= t('registration.introduction') %></p>

    <%= form_for @prequalification, url: prequalify_principals_path, html: { class: 'form' } do |f| %>
      <%= f.form_row :active_question do %>
        <fieldset class="form__group form__group--inline t-active-question">
          <legend class="l-pre-qualification__question l-pre-qualification__question--with-desc"><%= t('registration.active_question.heading') %></legend>
          <p><%= t('registration.active_question.description') %></p>

          <div class="form__group-item">
            <label>
              <%= f.radio_button :active_question, 1, class: 'form__group-input' %>
              <%= t('registration.answer_yes') %>
            </label>
          </div>

          <div class="form__group-item">
            <label>
              <%= f.radio_button :active_question, 0, class: 'form__group-input' %>
              <%= t('registration.answer_no') %>
            </label>
          </div>
        </fieldset>
      <% end %>

      <%= f.form_row :business_model_question do %>
        <fieldset class="form__group form__group--inline t-business-model-question">
          <legend class="l-pre-qualification__question l-pre-qualification__question--with-desc"><%= t('registration.business_model_question.heading') %></legend>
          <p><%= t('registration.business_model_question.description') %></p>

          <div class="form__group-item">
            <label>
              <%= f.radio_button :business_model_question, 1, class: 'form__group-input' %>
              <%= t('registration.answer_yes') %>
            </label>
          </div>

          <div class="form__group-item">
            <label>
              <%= f.radio_button :business_model_question, 0, class: 'form__group-input' %>
              <%= t('registration.answer_no') %>
            </label>
          </div>
        </fieldset>
      <% end %>

      <div data-dough-component="FieldToggleVisibility">
        <%= f.form_row :status_question do %>
          <fieldset class="form__group form__group--inline t-status-question" >
            <legend class="l-pre-qualification__question l-pre-qualification__question--with-desc"><%= t('registration.status_question.heading') %></legend>
            <p><%= t('registration.status_question.description') %></p>

            <div class="form__group-item">
              <label>
                <%= f.radio_button :status_question, 1, class: 'form__group-input js-radio-button', data: { dough_field_trigger_type: 'hide', dough_field_trigger: '1'  } %>
                <%= t('registration.status_question.answer_one') %>
              </label>
            </div>

            <div class="form__group-item">
              <label>
                <%= f.radio_button :status_question, 0, class: 'form__group-input js-radio-button', data: { dough_field_trigger_type: 'show', dough_field_trigger: '1' } %>
                <%= t('registration.status_question.answer_two') %>
                <span class="visually-hidden"><%= t('registration.status_question.notice') %></span>
              </label>
            </div>
          </fieldset>
        <% end %>

        <%= f.form_row :particular_market_question do %>
          <fieldset class="form__group form__group--inline is-hidden t-particular-market-question" data-dough-field-target="1">
            <legend class="l-pre-qualification__question l-pre-qualification__question--with-desc"><%= t('registration.particular_market_question.heading') %></legend>
            <p><%= t('registration.particular_market_question.description') %></p>

            <div class="form__group-item">
              <label>
                <%= f.radio_button :particular_market_question, 1, class: 'form__group-input', data: { dough_field_trigger_type: 'show', dough_field_trigger: '2'  } %>
                <%= t('registration.answer_yes') %>
              </label>
            </div>

            <div class="form__group-item">
              <label>
                <%= f.radio_button :particular_market_question, 0, class: 'form__group-input', data: { dough_field_trigger_type: 'hide', dough_field_trigger: '2'  } %>
                <%= t('registration.answer_no') %>
              </label>
            </div>
          </fieldset>
        <% end %>

        <%= f.form_row :consider_available_providers_question do %>
          <fieldset class="form__group form__group--inline is-hidden t-consider-available-providers-question" data-dough-field-target="2">
            <legend class="l-pre-qualification__question"><%= t('registration.consider_available_providers_question.heading') %></legend>

            <div class="form__group-item">
              <label>
                <%= f.radio_button :consider_available_providers_question, 1, class: 'form__group-input' %>
                <%= t('registration.answer_yes') %>
              </label>
            </div>

            <div class="form__group-item">
              <label>
                <%= f.radio_button :consider_available_providers_question, 0, class: 'form__group-input' %>
                <%= t('registration.answer_no') %>
              </label>
            </div>
          </fieldset>
        <% end %>
      </div>

      <%= button_primary t('registration.button_next') %>
    <% end %>
  </section>
</div>
