<div class="l-constrained">
  <section class="l-pre-qualification-questions">
    <%= heading_tag(t('registration.heading'), level: 1, class: 'l-pre-qualification-questions__heading') %>
    <p class="l-pre-qualification-questions__subheading"><%= t('registration.subheading') %></p>

    <%= form_for @prequalification, url: prequalify_principals_path, html: { class: 'l-pre-qualification-questions__form' } do |f| %>
      <fieldset class="l-pre-qualification-questions__question-group t-question-1">
        <legend class="l-pre-qualification-questions__question"><%= t('registration.question_one.heading') %></legend>
        <p><%= t('registration.question_one.explanation') %></p>
        <label class="l-pre-qualification-questions__label">
          <%= f.radio_button :question_1, 1, class: 'l-pre-qualification-questions__input', checked: true %>
          <%= t('registration.answer_yes') %>
        </label>
        <label class="l-pre-qualification-questions__label">
          <%= f.radio_button :question_1, 0, class: 'l-pre-qualification-questions__input' %>
          <%= t('registration.answer_no') %>
        </label>
      </fieldset>

      <fieldset class="l-pre-qualification-questions__question-group t-question-2">
        <legend class="l-pre-qualification-questions__question"><%= t('registration.question_two.heading') %></legend>
        <p><%= t('registration.question_two.explanation') %></p>
        <label class="l-pre-qualification-questions__label">
          <%= f.radio_button :question_2, 1, class: 'l-pre-qualification-questions__input', checked: true %>
          <%= t('registration.answer_yes') %>
        </label>
        <label class="l-pre-qualification-questions__label">
          <%= f.radio_button :question_2, 0, class: 'l-pre-qualification-questions__input' %>
          <%= t('registration.answer_no') %>
        </label>
      </fieldset>

      <fieldset class="l-pre-qualification-questions__question-group t-question-3">
        <legend class="l-pre-qualification-questions__question"><%= t('registration.question_three.heading') %></legend>
        <p><%= t('registration.question_three.explanation') %></p>
        <label class="l-pre-qualification-questions__label">
          <%= f.radio_button :question_3, 1, class: 'l-pre-qualification-questions__input', checked: true %>
          <%= t('registration.answer_yes') %>
        </label>
        <label class="l-pre-qualification-questions__label">
          <%= f.radio_button :question_3, 0, class: 'l-pre-qualification-questions__input' %>
          <%= t('registration.answer_no') %>
        </label>
      </fieldset>

      <%= button_primary t('registration.button_next') %>
    <% end %>
  </section>
</div>
