<div class="l-constrained">
  <section class="l-pre-qualification-questions">
    <%= link_to 'Try again', prequalify_principal_path, class: 't-back' %>

    <%= heading_tag(t('registration.heading'), level: 1, class: 'l-pre-qualification-questions__heading') %>
    <p class="l-pre-qualification-questions__subheading"><%= t('rejection.subheading') %></p>

    <% t('rejection.reasons').each do |item| %>
      <%= heading_tag(item[:heading], level: 2, class: 'l-pre-qualification-questions__question') %>
      <p><%= item[:explanation] %></p>
    <% end %>

    <form class="l-pre-qualification-questions__contact-form">
      <p class="l-pre-qualification-questions__contact-form-label"><%= t('rejection.input_label') %></p>
      <label class="l-pre-qualification-questions__contact-form-label"><%= t('rejection.email_address') %><input type="email"></label>
      <label class="l-pre-qualification-questions__contact-form-label"><%= t('rejection.message') %><textarea class="l-pre-qualification-questions__textarea t-message" cols="30" rows="10"></textarea></label>
      <%= button_primary t('rejection.submit_button') %>
    </form>
  </section>
</div>
