<div class="l-constrained">
  <%= form_for @message, url: contact_path, as: :contact, html: { class: 'form form--collapse l-pre-qualification-questions' },
    builder: Dough::Forms::Builders::Validation do |f| %>
    <%= f.validation_summary %>
    <%= heading_tag(t('rejection.heading'), level: 1, class: 'l-pre-qualification-questions__heading') %>
    <p class="l-pre-qualification-questions__subheading"><%= t('rejection.subheading') %></p>

    <% t('rejection.reasons').each do |item| %>
      <%= heading_tag(item[:heading], level: 2, class: 'l-pre-qualification-questions__question') %>
      <p><%= item[:explanation] %></p>
    <% end %>

    <%= link_to t('rejection.try_again'), prequalify_principals_path, class: 'l-pre-qualification-questions__try-again button button-secondary t-back' %>

    <p class="form__label-heading"><%= t('rejection.input_label') %></p>

    <%= f.form_row :email do %>
      <%= f.errors_for :email %>
      <label class="form__label-heading"><%= t('rejection.email_address') %></label>
      <%= f.email_field :email, class: 't-email' %>
    <% end %>
    
    <%= f.form_row :message do %>
      <%= f.errors_for :message %>
      <label class="form__label-heading"><%= t('rejection.message') %></label>
      <%= f.text_area :message, cols: 30, rows: 10, class: 't-message' %>
    <% end %>

    <%= button_primary t('rejection.submit_button') %>
  <% end %>
</div>
