<div class="l-constrained">
  <section class="l-pre-qualification-questions">
    <%= link_to t('rejection.try_again'), prequalify_principal_path, class: 'l-pre-qualification-questions__try-again t-back' %>

    <%= heading_tag(t('registration.heading'), level: 1, class: 'l-pre-qualification-questions__heading') %>
    <p class="l-pre-qualification-questions__subheading"><%= t('rejection.subheading') %></p>

    <% t('rejection.reasons').each do |item| %>
      <%= heading_tag(item[:heading], level: 2, class: 'l-pre-qualification-questions__question') %>
      <p><%= item[:explanation] %></p>
    <% end %>

    <%= form_for @message, url: contact_path, as: :contact, html: { class: 'l-pre-qualification-questions__contact-form' },
      builder: Dough::Forms::Builders::Validation do |f| %>
      <%= f.validation_summary %>
      <p class="l-pre-qualification-questions__contact-form-label"><%= t('rejection.input_label') %></p>
      <label><%= t('rejection.email_address') %>
        <%= f.email_field :email, class: 'l-pre-qualification-questions__contact-form-input t-email' %>
      </label>
      <label><%= t('rejection.message') %>
        <%= f.text_area :message, cols: 30, rows: 10, class: 'l-pre-qualification-questions__contact-form-textarea t-message' %>
      </label>
      <%= button_primary t('rejection.submit_button') %>
    <% end %>
  </section>
</div>
