<% if display_adviser_sign_in? %>
  <div class="l-adviser-sign-in">
    <div class="l-constrained">
      <%= link_to t('adviser_sign_in'), new_user_session_path, class: 'l-adviser-sign-in__link' %>
    </div>
  </div>
  <div class="l-adviser-sign-in">
    <div class="l-constrained">
      <%= link_to t('adviser_sign_up'), prequalify_principals_path, class: 'l-adviser-sign-in__link' %>
    </div>
  </div>
  <div class="l-adviser-sign-in">
    <div class="l-constrained">
      <%= link_to t('adviser_forgot_password'), new_user_password_path, class: 'l-adviser-sign-in__link' %>
    </div>
  </div>
<% end %>

<% if display_adviser_sign_out? %>
  <div class="l-adviser-sign-in">
    <div class="l-constrained">
      <%= link_to "Sign out", destroy_user_session_path, class: 'l-adviser-sign-in__link' %>
    </div>
  </div>
  <div class="l-adviser-sign-in">
    <div class="l-constrained">
      <%= link_to t('adviser_change_password'), edit_user_registration_path(current_user), class: 'l-adviser-sign-in__link' %>
    </div>
  </div>
<% end %>
