<br/>
<div class="global-alert global-alert--<%= name %>">
  <div class="global-alert__content-container global-alert__content-container--<%= name %>">
    <strong class="global-alert__heading"><%= name.titleize %></strong>

      <% if msg.is_a?(Array) %>
        <% msg.each do |message| %>
          <%= content_tag :p, message.html_safe, class: 'global-alert__message t-flash-message' %>
        <% end %>
      <% else %>
        <%= content_tag :p, msg.html_safe, class: 'global-alert__message t-flash-message' %>
      <% end %>
  </div>
</div>