<div class="table-wrapper">
  <table class="l-adviser-table">
    <thead>
      <tr>
        <th class="reference-number-heading"><%= Adviser.human_attribute_name(:reference_number) %></th>
        <th class="name-heading"><%= Adviser.human_attribute_name(:name) %></th>
        <th class="qualifications-heading"><%= Adviser.human_attribute_name(:qualifications) %></th>
        <th class="postcode-heading"><%= Adviser.human_attribute_name(:postcode) %></th>
      </tr>
    </thead>
    <tbody>
      <% if firm.advisers.present? %>
        <% firm.advisers.each do |adviser| %>
          <tr class="t-advisers-table-row">
            <td class="t-adviser-reference-number"><%= adviser.reference_number %></td>
            <td class="t-adviser-name">
              <%= link_to adviser.name, edit_dashboard_firm_adviser_path(adviser.firm, adviser), class: 't-edit-link' %>
            </td>
            <td>
              <ul class="l-comma-separated-list">
                <% adviser.qualifications.each do |qualification| %>
                  <li class="t-adviser-qualification"><%= qualification.name %></li>
                <% end %>
              </ul>
            </td>
            <td class="t-adviser-postcode"><%= adviser.postcode %></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td class="t-no-advisers-message" colspan="4">
            <%= t('dashboard.advisers_index.no_advisers_message') %>
            <%= link_to(t('dashboard.advisers_index.add_adviser_link', firm_name: firm.registered_name),
                        new_dashboard_firm_adviser_path(firm),
                        class: 't-add-adviser-link')  %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
