<%= render_breadcrumbs [{ locale_key: 'dashboard.navigation.root', url: dashboard_root_path },
                        { locale_key: 'dashboard.navigation.advisers' }] %>

<div class="l-constrained">
  <div class="l-top-right-action">
    <%= add_adviser_button(firm: @firm) %>
  </div>

  <h2><%= @firm.registered_name %></h2>
  <%= render 'dashboard/advisers/advisers_table', advisers: @firm.advisers %>

  <% @trading_names.each do |trading_name| %>
    <div class="l-top-right-action">
      <%= add_adviser_button(firm: trading_name) %>
    </div>

    <h2><%= t('dashboard.advisers_index.trading_names_heading', trading_name: trading_name.registered_name) %></h2>
    <%= render 'dashboard/advisers/advisers_table', advisers: trading_name.advisers %>
  <% end %>
</div>
