<div class="l-half-width">
  <% if f.object.errors.any? %>
    <div class="t-validation-summary">
      <%= f.validation_summary %>
    </div>
  <% end %>

  <%= heading_tag(t('self_service.principal_edit.firm_section_heading'), level: 2) %>

  <%= f.form_row(:website_address) do %>
    <%= f.errors_for :website_address %>
    <%= f.label :website_address, t('registration.firm.website_address'), class: 'form__label-heading' %>
    <%= f.text_field :website_address, class: 't-website-address', placeholder: 'http://www.example.com' %>
  <% end %>

  <hr>

  <%= heading_tag(t('self_service.principal_edit.principal_section_heading'), level: 2) %>
  <p><%= t('self_service.principal_edit.firm_section_explanation') %></p>

  <%= f.form_row(:first_name) do %>
    <%= f.errors_for :first_name %>
    <%= f.label :first_name, t('registration.principal.first_name'), class: 'form__label-heading' %>
    <%= f.text_field :first_name, class: 't-first-name' %>
  <% end %>

  <%= f.form_row(:last_name) do %>
    <%= f.errors_for :last_name %>
    <%= f.label :last_name, t('registration.principal.last_name'), class: 'form__label-heading' %>
    <%= f.text_field :last_name, class: 't-last-name' %>
  <% end %>

  <%= f.form_row(:job_title) do %>
    <%= f.errors_for :job_title %>
    <%= f.label :job_title, t('registration.principal.job_title'), class: 'form__label-heading' %>
    <%= f.text_field :job_title, class: 't-job-title' %>
  <% end %>

  <%= f.form_row(:email_address) do %>
    <%= f.errors_for :email_address %>
    <%= f.label :email_address, t('registration.principal.email_address'), class: 'form__label-heading' %>
    <%= f.text_field :email_address, class: 't-email-address' %>
  <% end %>

  <%= f.form_row(:telephone_number) do %>
    <%= f.errors_for :telephone_number %>
    <%= f.label :telephone_number, t('registration.principal.telephone_number'), class: 'form__label-heading' %>
    <%= f.text_field :telephone_number, class: 't-telephone-number' %>
  <% end %>
</div>

<div class="l-self-service-action-row">
  <%= link_to t('self_service.cancel_button'), :back, class: 'l-self-service-action-row__cancel' %>
  <%= f.submit t('self_service.principal_edit.submit_button'), class: 'button button--primary' %>
</div>
