<div data-dough-component="FieldToggleVisibility">
  <fieldset class="form__group" data-remote-and-face-to-face-picker>
    <legend class="l-questionnaire__legend"><%= t('questionnaire.primary_advice_method.heading') %></legend>

    <%= f.form_row :primary_advice_method do %>
      <div class="form__group-item">
        <label>
          <%= f.radio_button :primary_advice_method, :remote, class: 'form__group-input js-radio-button', data: { dough_field_show: 'remote', dough_field_hide: 'in_person'  } %>
          <%= t('questionnaire.primary_advice_method.answer_remote') %>
        </label>
      </div>

      <div class="form__group-item">
        <label>
          <%= f.radio_button :primary_advice_method, :local, class: 'form__group-input js-radio-button', data: { dough_field_show: 'in_person', dough_field_hide: 'remote' } %>
          <%= t('questionnaire.primary_advice_method.answer_local') %>
        </label>
      </div>
    <% end %>
  </fieldset>

  <fieldset class="form__group" data-dough-field-target="in_person">
    <legend class="l-questionnaire__legend"><%= t('questionnaire.in_person_advice_methods.heading') %></legend>

    <%= f.form_row :in_person_advice_methods do %>
      <%= f.collection_check_boxes(:in_person_advice_method_ids, InPersonAdviceMethod.all, :id, :friendly_name) do |b| %>
        <div class="form__group-item">
          <%= b.label { b.check_box(class: 'form__group-input t-questionnaire__in-person-advice-method-id') + b.text } %>
        </div>
      <% end %>
    <% end %>
  </fieldset>

  <fieldset class="form__group" data-remote-and-face-to-face-conditional-fieldset>
    <legend class="l-questionnaire__legend" data-dough-field-target="remote"><%= t('questionnaire.other_advice_methods.heading') %></legend>
    <legend class="l-questionnaire__legend" data-dough-field-target="in_person"><%= t('questionnaire.other_advice_methods.alternative_heading') %></legend>

    <%= f.form_row :other_advice_methods do %>
      <%= f.errors_for :other_advice_methods %>
      <%= f.collection_check_boxes(:other_advice_method_ids, OtherAdviceMethod.all, :id, :friendly_name) do |b| %>
        <div class="form__group-item">
          <%= b.label { b.check_box(class: 'form__group-input t-questionnaire__other-advice-method-id') + b.text } %>
        </div>
      <% end %>
    <% end %>
  </fieldset>
</div>
