<fieldset class="form__group">
  <legend class="l-questionnaire__legend"><%= required_asterisk t('self_service.firm_form.initial_advice_fee_structures_heading') %></legend>

  <p><%= t('self_service.firm_form.initial_advice_fee_structures_description') %></p>

  <%= f.form_row :initial_advice_fee_structures do %>
    <%= f.errors_for :initial_advice_fee_structures %>
    <%= f.collection_check_boxes(:initial_advice_fee_structure_ids, InitialAdviceFeeStructure.all, :id, :name) do |b| %>
      <div class="form__group-item">
        <%= b.label { b.check_box(class: 'form__group-input t-questionnaire__initial-advice-fee-structure-id') + b.text } %>
      </div>
    <% end %>
  <% end %>
</fieldset>
