<fieldset class="form__group form__group--inline">
  <legend class="l-questionnaire__legend"><%= required_asterisk t('questionnaire.ethical_investing_flag.heading') %></legend>

  <%= f.form_row :ethical_investing do %>
    <%= f.errors_for :ethical_investing %>
    <div class="form__group-item">
      <label>
        <%= f.radio_button :ethical_investing_flag, true, class: 'form__group-input t-ethical-investing-true' %>
        <%= t('questionnaire.ethical_investing_flag.answer_yes') %>
      </label>
    </div>

    <div class="form__group-item">
      <label>
        <%= f.radio_button :ethical_investing_flag, false, class: 'form__group-input t-ethical-investing-false' %>
        <%= t('questionnaire.ethical_investing_flag.answer_no') %>
      </label>
    </div>
  <% end %>
</fieldset>

<fieldset class="form__group form__group--inline">
  <legend class="l-questionnaire__legend"><%= required_asterisk t('questionnaire.sharia_investing_flag.heading') %></legend>

  <%= f.form_row :sharia_investing do %>
    <%= f.errors_for :sharia_investing %>
    <div class="form__group-item">
      <label>
        <%= f.radio_button :sharia_investing_flag, true, class: 'form__group-input t-sharia-investing-true' %>
        <%= t('questionnaire.sharia_investing_flag.answer_yes') %>
      </label>
    </div>

    <div class="form__group-item">
      <label>
        <%= f.radio_button :sharia_investing_flag, false, class: 'form__group-input t-sharia-investing-false' %>
        <%= t('questionnaire.sharia_investing_flag.answer_no') %>
      </label>
    </div>
  <% end %>
</fieldset>
