<fieldset class="form__group" data-dough-component="LanguageSelector">
  <legend class="l-questionnaire__legend"><%= t('self_service.firm_form.languages_heading') %></legend>

  <div class="is-hidden language-selector__select" data-dough-language-selector-template>
    <%= firm_language_select nil, class: 't-languages' %>
    <%= firm_language_delete_button %>
  </div>

  <%= f.form_row :other_services do %>
    <%= f.errors_for :other_services %>

    <div class="language-selector__selectors" data-dough-language-selector-selectors>
      <% if f.object.languages.empty? %>
        <div class="language-selector__select" data-dough-language-selector-selector>
          <%= firm_language_select nil, class: 't-languages' %>
          <%= firm_language_delete_button %>
        </div>
      <% end %>

      <% f.object.languages.each do |language| %>
        <div class="language-selector__select" data-dough-language-selector-selector>
          <%= firm_language_select language, class: 't-languages' %>
          <%= firm_language_delete_button %>
        </div>
      <% end %>
    </div>

    <button type="button" class="button-link language-selector__add" data-dough-language-selector-add-language>
      <%= t('self_service.firm_form.languages_add_language') %>
    </button>
  <% end %>
</fieldset>
