<ul class="inline-list-with-separator">
  <li>
    <%= link_to self_service_firm_advisers_path(firm) do %>
      <%= t('activerecord.models.adviser.other') %>
      (<%= firm.advisers.count %>)
    <% end %>
  </li>
  <li>
    <%= link_to self_service_firm_offices_path(firm) do %>
      <%= t('activerecord.models.office.other') %>
      (<%= firm.offices.count %>)
    <% end %>
  </li>
  <% unless firm.trading_name? %>
    <li>
      <%= link_to edit_self_service_principal_path(firm.principal) do %>
        <%= Principal.model_name.human %>
      <% end %>
    </li>
  <% end %>
</ul>
