<fieldset class="form__group">
  <legend class="l-questionnaire__legend"><%= t('questionnaire.other_services.heading') %></legend>

  <%= f.form_row :other_services do %>
    <%= f.errors_for :other_services %>

    <div class="form__group-item">
      <label>
        <%= f.check_box :ethical_investing_flag, class: "form__input t-ethical-investing-flag"%>
        <%= t('questionnaire.ethical_investing_flag.label')  %>
      </label>
    </div>
    <div class="form__group-item">
      <label>
        <%= f.check_box :sharia_investing_flag, class: "form__input t-sharia-investing-flag" %>
        <%= t('questionnaire.sharia_investing_flag.label') %>
      </label>
    </div>
  <% end %>
</fieldset>
