<div class="table-wrapper">
  <table class="advisers-table">
    <thead>
      <tr>
        <th class="advisers-table__reference-number">
          <%= Adviser.human_attribute_name(:reference_number) %>
        </th>
        <th class="advisers-table__name">
          <%= Adviser.human_attribute_name(:name) %>
        </th>
        <th class="advisers-table__postcode">
          <%= Adviser.human_attribute_name(:postcode) %>
        </th>
        <th class="advisers-table__action"></th>
      </tr>
    </thead>
    <tbody data-dough-filter-rows>
      <% if firm.advisers.present? %>
        <% firm.advisers.each do |adviser| %>
          <tr class="t-advisers-table-row">
            <td class="t-adviser-reference-number" data-dough-filterable><%= adviser.reference_number %></td>
            <td class="t-adviser-name" data-dough-filterable>
              <%= link_to adviser.name, edit_self_service_firm_adviser_path(adviser.firm, adviser), class: 't-edit-link' %>
            </td>
            <td class="t-adviser-postcode" data-dough-filterable><%= adviser.postcode %></td>
            <td>
              <%= button_to t('self_service.advisers_index.delete_adviser_button'),
                            self_service_firm_adviser_path(firm, adviser),
                            method: :delete,
                            'data-dough-component' => 'ConfirmableForm',
                            'data-dough-confirmation-message' => t('self_service.advisers_index.delete_adviser_confirmation', name: adviser.name),
                            :class => 'button button--small t-remove-button' %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td class="t-no-advisers-message" colspan="4">
            <%= t('self_service.advisers_index.no_advisers_message') %>
            <%= link_to(t('self_service.advisers_index.add_adviser_link', firm_name: firm.registered_name),
                        new_self_service_firm_adviser_path(firm),
                        class: 't-add-adviser-link')  %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
