<% content_for(:page_title) { t('self_service.advisers_index.title', firm_name: @firm.registered_name) } %>
<%= render_breadcrumbs [{ locale_key: 'self_service.navigation.root', url: self_service_root_path },
                        { locale_key: 'self_service.navigation.firms', url: self_service_firms_path },
                        { name: t('self_service.firm_edit.title', firm_name: @firm.registered_name), url: edit_self_service_firm_path(@firm) },
                        { name: content_for(:page_title) }] %>

<div class="l-constrained" data-dough-component="MultiTableFilter">
  <div class="l-heading-with-button">
    <h2 class="t-firm-name"><%= content_for(:page_title) %></h2>
    <%= add_adviser_button(firm: @firm) %>
  </div>

  <div class="t-parent-firm">
    <%= filter_field :trading_names, locale_prefix: 'self_service.advisers_index.adviser_names_filter' %>

    <div data-dough-filter-group>
      <%= render 'self_service/advisers/advisers_table', firm: @firm %>
    </div>
  </div>
</div>
