<%= render_breadcrumbs(breadcrumbs_firm_adviser_new) %>
<%= render_onboarding_message(:advisers_new) %>

<div class="l-self-service">

  <h1>
    <%= t('self_service.adviser_new.title', firm_name: @firm.registered_name) %>
  </h1>

  <p><%= t('questionnaire.adviser.description') %></p>

  <%= form_for @adviser,
               url: self_service_firm_advisers_path(@firm),
               builder: Dough::Forms::Builders::Validation,
               html: { class: 'form' } do |f| %>

    <%= render partial: 'self_service/advisers/form', locals: {f: f} %>

  <% end %>
</div>
