<h2>Registered Advisers</h2>

<p>
  This report shows all advisers whose FCA status is still 'Active'.
</p>

<p>
  The <a href="https://register.fca.org.uk/">Financial Services Register</a>
  can be searched to determine exactly what status change has occurred.
</p>

<% if @registered_advisers.present? %>
  <p>
    <%= link_to 'Download as CSV',
          admin_reports_registered_adviser_index_path(format: :csv),
          class: 'btn btn-primary' %>
  </p>
<% end %>

<table class="table table-bordered">
  <tr>
    <th>Ref Number</th>
    <th>Name</th>
    <th>Firm</th>
  </tr>
  <% if @registered_advisers.present? %>
    <% @registered_advisers.each do |adviser| %>
      <tr>
        <td><%= adviser.reference_number %></td>
        <td><%= link_to adviser.name, admin_adviser_path(adviser) %></td>
        <td><%= link_to adviser.firm.registered_name, admin_retirement_firm_path(adviser.firm) %></td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="3">No advisers to display</td>
    </tr>
  <% end %>
  <%= paginate @registered_advisers, theme: 'bootstrap' %>
</table>
