<%= heading_tag(t(registration_title, firm: current_user.principal.travel_insurance_firm.registered_name), level: 1) %>

<h2>Step 4 of 4</h2>
<p>
  <strong><%= t('travel_insurance_reregistrations.questionaire_instructions') %></strong>
</p>

<div class="l-2col-even-row">
  <div class="l-2col">
    <section class="l-2col-main" data-wizard-form>
      <%= form_for @form, url: medical_conditions_questionaire_self_service_travel_insurance_reregistrations_path, html: { class: 'wizard-form travel-registration-form' }, builder: Dough::Forms::Builders::Validation do |f| %>
        <%= f.validation_summary %>

        <% t('registration.medical_conditions_questionaire').each_with_index do |(key, item), index| %>
          <div class="form__row" data-wizard-item>
            <fieldset class="form__group-item t-<%=key%>">

              <legend class="l-pre-qualification__question l-pre-qualification__question--with-desc">
                Scenario <%= index + 1 %> of <%= t('registration.medical_conditions_questionaire').length %> - <%= item[:scenario] %>
              </legend>

              <p>
                <strong>Primary health condition:</strong>
                <%= item[:primary_health_condition] %>
              </p>
              <p>
                <strong>Secondary health condition:</strong>
                <%= item[:secondary_health_condition] %>
              </p>
              <p>
                <strong>Age:</strong>
                <%= item[:age] %>
              </p>
              <p>
                <strong>Trip:</strong>
                <%= item[:trip] %>
              </p>

              <div class="form__group-item">
                <label>
                  <%= f.radio_button key, true, class: 'form__group-input' %>
                  <%= t('registration.answer_yes') %>
                </label>
              </div>

              <div class="form__group-item">
                <label>
                  <%= f.radio_button key, false, class: 'form__group-input' %>
                  <%= t('registration.answer_no') %>
                </label>
              </div>
            </fieldset>
          </div>
        <% end %>

        <button class="button previous-item-button" data-wizard-previous-button><%= t('travel_insurance_reregistrations.previous_question_button') %></button>

        <button class="button button--primary" data-wizard-next-button><%= t('travel_insurance_reregistrations.register_button') %></button>

      <% end %>
    </section>

    <section class="l-2col-side l-2col-side--pull-right">
      <div class="panel t-sign-in-panel">
        <strong><%= t('registration.generic_circumstances_assumption.heading')%></strong>
        <ul>
          <% t('registration.generic_circumstances_assumption.list').each do |list_item| %>
            <li><%= list_item %></li>
          <% end %>
        </ul>

      </div>
    </section>

  </div>
</div>
