<%= f.fields_for :trip_covers, cover_data do |tc| %>
  <%= tc.hidden_field :trip_type %>
  <%= tc.hidden_field :cover_area %>

  <div class="l-3col-even-row">
    <div class="l-3col-even">
      <strong>Up to 1 month</strong>
    </div>

    <div class="l-3col-even">
      <%= tc.errors_for :one_month_land_max_age %>
      <%= tc.label :one_month_land_max_age,
                  'Please select maximum age: land trip',
                  class: 'form__label-heading' %>
      <%= tc.select :one_month_land_max_age, options_for_cover_ages, { prompt: 'Please select', include_blank: true }, { class: 't-one-month-land' } %>
    </div>

    <div class="l-3col-even">
      <%= tc.label :one_month_land_max_age,
                  'Please select maximum age: cruise trip',
                  class: 'form__label-heading' %>
      <%= tc.select :one_month_cruise_max_age, options_for_cover_ages, { prompt: 'Please select', include_blank: true }, { class: 't-one-month-cruise' } %>
    </div>
  </div>
  <br />

  <div class="l-3col-even-row">
    <div class="l-3col-even">
      <strong>1-6 months</strong>
    </div>

    <div class="l-3col-even">
      <%= tc.label :six_month_land_max_age,
                  'Please select maximum age: land trip',
                  class: 'form__label-heading' %>
      <%= tc.select :six_month_land_max_age, options_for_cover_ages, { prompt: 'Please select', include_blank: true }, { class: 't-six-month-land' } %>
    </div>

    <div class="l-3col-even">
      <%= tc.label :six_month_cruise_max_age,
                  'Please select maximum age: cruise trip',
                  class: 'form__label-heading' %>
      <%= tc.select :six_month_cruise_max_age, options_for_cover_ages, { prompt: 'Please select', include_blank: true }, { class: 't-six-month-cruise' } %>
    </div>
  </div>
  <br />

  <div class="l-3col-even-row">
    <div class="l-3col-even">
      <strong>6 months +</strong>
    </div>

    <div class="l-3col-even">
      <%= tc.label :six_month_plus_land_max_age,
                  'Please select maximum age: land trip',
                  class: 'form__label-heading' %>
      <%= tc.select :six_month_plus_land_max_age, options_for_cover_ages, { prompt: 'Please select', include_blank: true }, { class: 't-six-month-plus-land' } %>
    </div>

    <div class="l-3col-even">
      <%= tc.label :six_month_plus_cruise_max_age,
                  'Please select maximum age: cruise trip',
                  class: 'form__label-heading' %>
      <%= tc.select :six_month_plus_cruise_max_age, options_for_cover_ages, { prompt: 'Please select', include_blank: true }, { class: 't-six-month-plus-cruise' } %>
    </div>
  </div>
  <br />
  <hr />
  <br />
<% end %>
