<% render_breadcrumbs(breadcrumbs_root) %>

<% if @presenter.requires_reregistration? %>
  <div class="panel t-reregistration-banner">
    <p class="panel__heading">You need to reregister your firm</>
    <p>Reregistering will ensure your firm remains in our Travel insurance directory.</p>
    <p><%= link_to 'Get started', new_self_service_travel_insurance_reregistration_path, class: 'button button--primary' %></p>
  </div>
<% end %>

<h1 class="t-page-title">
  <%= t('self_service.travel_insurance_firms_index.title', count: @presenter.total_firms) %>
</h1>
<div class="panel t-onboarding-message">
  <p><%= t('self_service.travel_insurance_firms_index.primary_instructions_html') %></p>
  <p><%= t('self_service.travel_insurance_firms_index.secondary_instructions_html') %></p>
</div>
<% if @presenter.firm_has_trading_names? %>
  <h2 class="t-parent-firm-heading"><%= t('self_service.travel_insurance_firms_index.firm_heading') %></h2>
<% end %>

<%= render 'self_service/travel_insurance_firms/table_parent_firm' %>

<% if @presenter.firm_has_trading_names? %>
  <div id="firm-list" class="t-trading-names-block" data-dough-component="MultiTableFilter">
    <h2><%= t('self_service.firms_index.trading_names_heading') %></h2>

    <% if @presenter.no_trading_names_have_been_added? %>
      <p class="t-add-trading-names-prompt">
        <%= t('self_service.firms_index.add_trading_names_prompt') %>
      </p>
    <% else %>
      <%= filter_field :trading_names, locale_prefix: 'self_service.firms_index.trading_names_filter' %>
      <%= render 'self_service/travel_insurance_firms/table_trading_names' %>
    <% end %>
  </div>
<% end %>

<% if @presenter.trading_names_are_available_to_add? %>
  <div id="trading-name-list" class="t-available-trading-names-block" data-dough-component="MultiTableFilter PopupTip" >
    <h2>
      <%= t('self_service.firms_index.available_trading_names_heading') %>
      <%= popup_tip_trigger options: {
          text: t('tooltip_show')
        } %>
    </h2>

    <%= popup_tip_content options: {
      text: t('self_service.travel_insurance_firms_index.available_trading_names_tooltip'),
      tooltip_hide: t('tooltip_hide')
    } %>
    <%= filter_field :trading_names, locale_prefix: 'self_service.firms_index.available_trading_names_filter' %>
    <%= render 'self_service/travel_insurance_firms/table_available_trading_names' %>
  </div>
<% end %>
