<div class="l-constrained">
  <section class="l-questionnaire">
    <%= heading_tag(t('questionnaire.title'), level: 1) %>
    <p><%= t('questionnaire.introduction') %></p>

    <%= form_for @firm, url: principal_firm_questionnaire_path, html: { class: 'form' }, builder: Dough::Forms::Builders::Validation do |f| %>
      <%= f.validation_summary %>
      <p><%= t('required') %></p>

      <section>
        <%= heading_tag(t('questionnaire.about_your_firm.heading'), level: 2, class: 'heading-small') %>
        <%= callout_instructional t('questionnaire.about_your_firm.callout_html', registered_name: @lookup_firm.registered_name, fca_number: @lookup_firm.fca_number) %>
        <p class="l-questionnaire__section-description"><%= t('questionnaire.about_your_firm.description') %></p>

        <fieldset class="form__group">
          <legend class="l-questionnaire__legend"><%= t('questionnaire.email_address.heading') %></legend>
          <p><%= t('questionnaire.email_address.description') %></p>

          <div class="l-questionnaire__row">
            <div class="l-questionnaire__field form__group-item">
              <%= f.form_row :email_address do %>
                  <%= f.errors_for :email_address %>
                  <%= f.label :email_address, t('questionnaire.email_address.label'), class: 'form__label-heading' %>
                  <%= f.text_field :email_address %>
              <% end %>
            </div>
          </div>
        </fieldset>

        <fieldset class="form__group">
          <legend class="l-questionnaire__legend"><%= t('questionnaire.telephone_number.heading') %></legend>
          <p><%= t('questionnaire.telephone_number.description') %></p>

          <div class="l-questionnaire__row">
            <div class="l-questionnaire__field form__group-item">
              <%= f.form_row :telephone_number do %>
                  <%= f.errors_for :telephone_number %>
                  <%= f.label :telephone_number, t('questionnaire.telephone_number.label'), class: 'form__label-heading' %>
                  <%= f.text_field :telephone_number %>
              <% end %>
            </div>
          </div>
        </fieldset>
      </section>

      <fieldset class="form__group">
        <legend class="l-questionnaire__legend"><%= t('questionnaire.address.heading') %></legend>
        <p><%= t('questionnaire.address.description') %></p>

        <div class="l-questionnaire__row">
          <div class="l-questionnaire__field">
            <%= f.form_row :address_line_1 do %>
                <%= f.errors_for :address_line_1 %>
                <%= f.label :address_line_1, t('questionnaire.address.label_one'), class: 'form__label-heading' %>
                <%= f.text_field :address_line_1 %>
            <% end %>

            <%= f.form_row :address_line_2 do %>
                <%= f.errors_for :address_line_2 %>
                <%= f.label :address_line_2, t('questionnaire.address.label_two'), class: 'form__label-heading' %>
                <%= f.text_field :address_line_2 %>
            <% end %>

            <%= f.form_row :address_town do %>
                <%= f.errors_for :address_town %>
                <%= f.label :address_town, t('questionnaire.address.label_three'), class: 'form__label-heading' %>
                <%= f.text_field :address_town %>
            <% end %>

            <%= f.form_row :address_county do %>
                <%= f.errors_for :address_county %>
                <%= f.label :address_county, t('questionnaire.address.label_four'), class: 'form__label-heading' %>
                <%= f.text_field :address_county %>
            <% end %>

            <%= f.form_row :address_postcode do %>
                <%= f.errors_for :address_postcode %>
                <%= f.label :address_postcode, t('questionnaire.address.label_five'), class: 'form__label-heading' %>
                <%= f.text_field :address_postcode %>
            <% end %>
          </div>
        </div>
      </fieldset>

      <fieldset class="form__group">
        <legend class="l-questionnaire__legend"><%= t('questionnaire.service_regions.heading') %></legend>
        <p><%= t('questionnaire.service_regions.description') %></p>

        <%= f.form_row :service_regions do %>
            <%= f.errors_for :service_regions %>
            <% ServiceRegion.all.each do |service_region| %>
                <div class="form__group-item l-questionnaire__two-cols">
                  <label>
                    <%= check_box_tag 'firm[service_region_ids][]', service_region.id, @firm.service_regions.include?(service_region), class: 'form__group-input' %>
                    <%= service_region.name %>
                  </label>
                </div>
            <% end %>
        <% end %>
      </fieldset>

      <hr>

      <section>
        <%= heading_tag(t('questionnaire.providing_your_services.heading'), level: 2, class: 'heading-small') %>
        <p class="l-questionnaire__section-description"><%= t('questionnaire.providing_your_services.description') %></p>

        <fieldset class="form__group">
          <legend class="l-questionnaire__legend"><%= t('questionnaire.in_person_advice_methods.heading') %></legend>

          <%= f.form_row :in_person_advice_methods do %>
              <%= f.errors_for :in_person_advice_methods %>
              <% InPersonAdviceMethod.all.each do |in_person_advice_method| %>
                  <div class="form__group-item l-questionnaire__two-cols">
                    <label>
                      <%= check_box_tag 'firm[in_person_advice_method_ids][]', in_person_advice_method.id, @firm.in_person_advice_methods.include?(in_person_advice_method), class: 'form__group-input' %>
                      <%= in_person_advice_method.name %>
                    </label>
                  </div>
              <% end %>
          <% end %>
        </fieldset>

        <fieldset class="form__group">
          <legend class="l-questionnaire__legend"><%= t('questionnaire.other_advice_methods.heading') %></legend>

          <%= f.form_row :other_advice_methods do %>
              <%= f.errors_for :other_advice_methods %>
              <% OtherAdviceMethod.all.each do |other_advice_method| %>
                  <div class="form__group-item l-questionnaire__two-cols">
                    <label>
                      <%= check_box_tag 'firm[other_advice_method_ids][]', other_advice_method.id, @firm.other_advice_methods.include?(other_advice_method), class: 'form__group-input' %>
                      <%= other_advice_method.name %>
                    </label>
                  </div>
              <% end %>
          <% end %>
        </fieldset>

        <fieldset class="form__group form__group--inline">
          <legend class="l-questionnaire__legend"><%= t('questionnaire.free_initial_meeting.heading') %></legend>

          <%= f.form_row :free_initial_meeting do %>
              <%= f.errors_for :free_initial_meeting %>
              <div class="form__group-item">
                <label>
                  <%= f.radio_button :free_initial_meeting, true, class: 'form__group-input' %>
                  <%= t('questionnaire.free_initial_meeting.answer_yes') %>
                </label>
              </div>

              <div class="form__group-item">
                <label>
                  <%= f.radio_button :free_initial_meeting, false, class: 'form__group-input' %>
                  <%= t('questionnaire.free_initial_meeting.answer_no') %>
                </label>
              </div>
          <% end %>
        </fieldset>

        <fieldset class="form__group form__group--inline">
          <legend class="l-questionnaire__legend"><%= t('questionnaire.initial_meeting_duration.heading') %></legend>

          <%= f.form_row :initial_meeting_duration do %>
              <%= f.errors_for :initial_meeting_duration %>
              <% InitialMeetingDuration.all.each do |initial_meeting_duration| %>
                  <div class="form__group-item l-questionnaire__two-cols">
                    <label>
                      <%= radio_button_tag 'firm[initial_meeting_duration_id]', initial_meeting_duration.id, @firm.initial_meeting_duration == initial_meeting_duration, class: 'form__group-input' %>
                      <%= initial_meeting_duration.duration %> <%= t('questionnaire.initial_meeting_duration.duration_unit') %>
                    </label>
                  </div>
              <% end %>
          <% end %>
        </fieldset>
      </section>

      <hr>

      <section>
        <%= heading_tag(t('questionnaire.service_charges.heading'), level: 2, class: 'heading-small') %>
        <p class="l-questionnaire__section-description"><%= t('questionnaire.service_charges.description') %></p>

        <fieldset class="form__group">
          <legend class="l-questionnaire__legend"><%= t('questionnaire.initial_advice_fee.heading') %></legend>

          <%= f.form_row :initial_advice_fee_structures do %>
              <%= f.errors_for :initial_advice_fee_structures %>
              <% InitialAdviceFeeStructure.all.each do |initial_advice_fee_structure| %>
                  <div class="form__group-item l-questionnaire__two-cols">
                    <label>
                      <%= check_box_tag 'firm[initial_advice_fee_structure_ids][]', initial_advice_fee_structure.id, @firm.initial_advice_fee_structures.include?(initial_advice_fee_structure), class: 'form__group-input' %>
                      <%= initial_advice_fee_structure.name %>
                    </label>
                  </div>
              <% end %>
          <% end %>
        </fieldset>

        <fieldset class="form__group">
          <legend class="l-questionnaire__legend"><%= t('questionnaire.ongoing_advice_fee.heading') %></legend>

          <%= f.form_row :ongoing_advice_fee_structures do %>
              <%= f.errors_for :ongoing_advice_fee_structures %>
              <% OngoingAdviceFeeStructure.all.each do |ongoing_advice_fee_structure| %>
                  <div class="form__group-item l-questionnaire__two-cols">
                    <label>
                      <%= check_box_tag 'firm[ongoing_advice_fee_structure_ids][]', ongoing_advice_fee_structure.id, @firm.ongoing_advice_fee_structures.include?(ongoing_advice_fee_structure), class: 'form__group-input' %>
                      <%= ongoing_advice_fee_structure.name %>
                    </label>
                  </div>
              <% end %>
          <% end %>
        </fieldset>

        <fieldset class="form__group">
          <legend class="l-questionnaire__legend"><%= t('questionnaire.allowed_payment_methods.heading') %></legend>

          <%= f.form_row :allowed_payment_methods do %>
              <%= f.errors_for :allowed_payment_methods %>
              <% AllowedPaymentMethod.all.each do |allowed_payment_method| %>
                  <div class="form__group-item l-questionnaire__two-cols">
                    <label>
                      <%= check_box_tag 'firm[allowed_payment_method_ids][]', allowed_payment_method.id, @firm.allowed_payment_methods.include?(allowed_payment_method), class: 'form__group-input' %>
                      <%= allowed_payment_method.name %>
                    </label>
                  </div>
              <% end %>
          <% end %>
        </fieldset>
      </section>

      <div class="l-questionnaire__button">
        <%= button_primary t('questionnaire.button_next') %>
      </div>
    <% end %>
  </section>
</div>
