<div class="l-constrained">
  <section class="l-questionnaire">
    <%= heading_tag(t('questionnaire.step_one.heading'), level: 1) %>
    <p><%= t('questionnaire.step_one.introduction') %></p>

    <%= form_for @questionnaire, url: step_1_principal_firm_questionnaire_path, html: { class: 'form' }, builder: Dough::Forms::Builders::Validation do |f| %>
      <%= f.validation_summary %>
      <p><%= t('required') %></p>

      <section>
        <%= heading_tag(t('questionnaire.step_one.subheading_one'), level: 2) %>
        <p class="l-questionnaire__section-description"><%= t('questionnaire.step_one.subheading_one_description') %></p>

        <fieldset class="form__group">
          <legend class="l-questionnaire__legend"><%= t('questionnaire.step_one.section_one.heading') %></legend>
          <p><%= t('questionnaire.step_one.section_one.description') %></p>

          <div class="l-questionnaire__row">
            <div class="l-questionnaire__field form__group-item">
              <%= f.form_row :firm_email_address do %>
                <%= f.errors_for :firm_email_address %>
                <%= f.label :firm_email_address, t('questionnaire.step_one.section_one.heading'), class: 'form__label-heading' %>
                <%= f.text_field :firm_email_address %>
              <% end %>
            </div>
          </div>
        </fieldset>

        <fieldset class="form__group">
          <legend class="l-questionnaire__legend"><%= t('questionnaire.step_one.section_two.heading') %></legend>
          <p><%= t('questionnaire.step_one.section_two.description') %></p>

          <div class="l-questionnaire__row">
            <div class="l-questionnaire__field form__group-item">
              <%= f.form_row :firm_email_address do %>
                <%= f.errors_for :firm_email_address %>
                <%= f.label :firm_email_address, t('questionnaire.step_one.section_two.label'), class: 'form__label-heading' %>
                <%= f.text_field :firm_email_address %>
              <% end %>
            </div>
          </div>
        </fieldset>

        <fieldset class="form__group">
          <legend class="l-questionnaire__legend"><%= t('questionnaire.step_one.section_three.heading') %></legend>
          <p><%= t('questionnaire.step_one.section_three.description') %></p>

          <div class="l-questionnaire__row">
            <div class="l-questionnaire__field">
              <%= f.form_row :main_office_line_1 do %>
                <%= f.errors_for :main_office_line_1 %>
                <%= f.label :main_office_line_1, t('questionnaire.step_one.section_three.label_one'), class: 'form__label-heading' %>
                <%= f.text_field :main_office_line_1 %>
              <% end %>

              <%= f.form_row :main_office_line_2 do %>
                <%= f.errors_for :main_office_line_2 %>
                <%= f.label :main_office_line_2, t('questionnaire.step_one.section_three.label_two'), class: 'form__label-heading' %>
                <%= f.text_field :main_office_line_2 %>
              <% end %>

              <%= f.form_row :main_office_town do %>
                <%= f.errors_for :main_office_town %>
                <%= f.label :main_office_town, t('questionnaire.step_one.section_three.label_three'), class: 'form__label-heading' %>
                <%= f.text_field :main_office_town %>
              <% end %>

              <%= f.form_row :main_office_county do %>
                <%= f.errors_for :main_office_county %>
                <%= f.label :main_office_county, t('questionnaire.step_one.section_three.label_four'), class: 'form__label-heading' %>
                <%= f.text_field :main_office_county %>
              <% end %>

              <%= f.form_row :main_office_postcode do %>
                <%= f.errors_for :main_office_postcode %>
                <%= f.label :main_office_postcode, t('questionnaire.step_one.section_three.label_five'), class: 'form__label-heading' %>
                <%= f.text_field :main_office_postcode %>
              <% end %>
            </div>
          </div>
        </fieldset>

        <fieldset class="form__group">
          <legend class="l-questionnaire__legend"><%= t('questionnaire.step_one.section_four.heading') %></legend>
          <p><%= t('questionnaire.step_one.section_four.description') %></p>

          <%= f.form_row :accept_customers_from do %>
            <%= f.errors_for :accept_customers_from %>
            <% t('questionnaire.step_one.section_four.regions').each do |item| %>
              <div class="form__group-item l-questionnaire__two-cols">
                <label>
                  <%= f.check_box :accept_customers_from, class: 'form__group-input' %>
                  <%= item[:region] %>
                </label>
              </div>
            <% end %>
          <% end %>

        </fieldset>
      </section>

      <hr>

      <section>
        <%= heading_tag(t('questionnaire.step_one.subheading_two'), level: 2) %>
        <p class="l-questionnaire__section-description"><%= t('questionnaire.step_one.subheading_two_description') %></p>

        <fieldset class="form__group">
          <%= f.form_row :accept_customers_from do %>
            <%= f.errors_for :accept_customers_from %>
            <label class="form__label-heading">
              <%= f.check_box :accept_customers_from, class: 'form__group-input' %>
              <%= t('questionnaire.step_one.section_five.label_one') %>
            </label>

            <% t('questionnaire.step_one.section_five.regions').each do |item| %>
              <%= f.errors_for :accept_customers_from %>
              <label class="form__label-heading l-questionnaire__inset-input" do %>
                <%= f.check_box :accept_customers_from, class: 'form__group-input' %>
                <%= item[:region] %>
              </label>
            <% end %>
          <% end %>

          <%= f.form_row :accept_customers_from do %>
            <%= f.errors_for :accept_customers_from %>
            <label class="form__label-heading">
              <%= f.check_box :accept_customers_from, class: 'form__group-input' %>
              <%= t('questionnaire.step_one.section_five.label_two') %>
            </label>
            <% t('questionnaire.step_one.section_five.advice_options').each do |item| %>
              <%= f.errors_for :accept_customers_from %>
              <label class="form__label-heading l-questionnaire__inset-input" %>
                <%= f.check_box :accept_customers_from, class: 'form__group-input' %>
                <%= item[:advice] %>
              </label>
            <% end %>
          <% end %>
        </fieldset>

        <fieldset class="form__group form__group--inline">
          <legend class="l-questionnaire__legend"><%= t('questionnaire.step_one.section_six.heading') %></legend>
          <%= f.form_row :accept_customers_from do %>
            <%= f.errors_for :accept_customers_from %>

            <div class="form__group-item">
              <label class="form__label-heading">
                <%= f.radio_button :accept_customers_from, 0,  class: 'form__group-input' %>
                <%= t('questionnaire.yes') %>
              </label>
            </div>

            <div class="form__group-item">
              <label class="form__label-heading" %>
                <%= f.radio_button :accept_customers_from, 0,  class: 'form__group-input' %>
                <%= t('questionnaire.no') %>
              </label>
            </div>
          <% end %>
        </fieldset>
      </section>

      <hr>

      <section>
        <%= heading_tag(t('questionnaire.step_one.subheading_three'), level: 2) %>
        <p class="l-questionnaire__section-description"><%= t('questionnaire.step_one.subheading_three_description') %></p>

        <fieldset class="form__group">
          <legend class="l-questionnaire__legend"><%= t('questionnaire.step_one.section_seven.heading') %></legend>
          <p><%= t('questionnaire.step_one.section_seven.description') %></p>

          <%= f.form_row :accept_customers_from do %>
            <%= f.errors_for :accept_customers_from %>
            <% t('questionnaire.step_one.section_seven.fee_options').each do |item| %>
              <div class="form__group-item">
                <label>
                  <%= f.check_box :accept_customers_from, class: 'form__group-input' %>
                  <%= item[:fee] %>
                </label>
              </div>
            <% end %>
          <% end %>

          <%= f.form_row :accept_customers_from do %>
            <%= f.errors_for :accept_customers_from %>
            <div class="form__group-item">
              <label>
                <%= f.check_box :accept_customers_from, class: 'form__group-input' %>
                <%= t('questionnaire.step_one.section_seven.label_one') %>
              </label>
            </div>
          <% end %>

          <div class="l-questionnaire__row">
            <div class="l-questionnaire__field">
              <%= f.form_row :accept_customers_from do %>
                <%= f.errors_for :accept_customers_from %>
                <div class="form__group-item">
                  <%= f.label :accept_customers_from, t('questionnaire.step_one.section_seven.label_two'), class: 'form__label-heading' %>
                  <%= f.text_field :accept_customers_from, class: 'form__group-input' %>
                </div>
              <% end %>
            </div>
          </div>

        </fieldset>
      </section>

      <div class="l-questionnaire__button">
        <%= button_primary t('questionnaire.step_one.button_next') %>
      </div>
    <% end %>
  </section>
</div>
