<div class="l-constrained">
  <section class="l-questionnaire">
    <%= heading_tag(t('questionnaire.step_one.title'), level: 1) %>
    <p><%= t('questionnaire.step_one.introduction') %></p>

    <%= form_for @questionnaire, url: step_one_principal_firm_questionnaire_path, html: { class: 'form' }, builder: Dough::Forms::Builders::Validation do |f| %>
      <%= f.validation_summary %>
      <p><%= t('required') %></p>


      <section>
        <%= heading_tag(t('questionnaire.step_one.about_your_firm.heading'), level: 2, class: 'heading-small') %>
        <%= callout_instructional "<p>Blackrock Associates, firm registration number 12345678</p>" %>
        <p class="l-questionnaire__section-description"><%= t('questionnaire.step_one.about_your_firm.description') %></p>

        <fieldset class="form__group">
          <legend class="l-questionnaire__legend"><%= t('questionnaire.step_one.email_address.heading') %></legend>
          <p><%= t('questionnaire.step_one.email_address.description') %></p>

          <div class="l-questionnaire__row">
            <div class="l-questionnaire__field form__group-item">
              <%= f.form_row :firm_email_address do %>
                <%= f.errors_for :firm_email_address %>
                <%= f.label :firm_email_address, t('questionnaire.step_one.email_address.label'), class: 'form__label-heading' %>
                <%= f.text_field :firm_email_address %>
              <% end %>
            </div>
          </div>
        </fieldset>

        <fieldset class="form__group">
          <legend class="l-questionnaire__legend"><%= t('questionnaire.step_one.telephone_number.heading') %></legend>
          <p><%= t('questionnaire.step_one.telephone_number.description') %></p>

          <div class="l-questionnaire__row">
            <div class="l-questionnaire__field form__group-item">
              <%= f.form_row :firm_telephone_number do %>
              <%= f.errors_for :firm_telephone_number %>
              <%= f.label :firm_telephone_number, t('questionnaire.step_one.telephone_number.label'), class: 'form__label-heading' %>
              <%= f.text_field :firm_telephone_number %>
              <% end %>
            </div>
          </div>
        </fieldset>

        <fieldset class="form__group">
          <legend class="l-questionnaire__legend"><%= t('questionnaire.step_one.address.heading') %></legend>
          <p><%= t('questionnaire.step_one.address.description') %></p>

          <div class="l-questionnaire__row">
            <div class="l-questionnaire__field">
              <%= f.form_row :main_office_line_1 do %>
                <%= f.errors_for :main_office_line_1 %>
                <%= f.label :main_office_line_1, t('questionnaire.step_one.address.label_one'), class: 'form__label-heading' %>
                <%= f.text_field :main_office_line_1 %>
              <% end %>

              <%= f.form_row :main_office_line_2 do %>
                <%= f.errors_for :main_office_line_2 %>
                <%= f.label :main_office_line_2, t('questionnaire.step_one.address.label_two'), class: 'form__label-heading' %>
                <%= f.text_field :main_office_line_2 %>
              <% end %>

              <%= f.form_row :main_office_town do %>
                <%= f.errors_for :main_office_town %>
                <%= f.label :main_office_town, t('questionnaire.step_one.address.label_three'), class: 'form__label-heading' %>
                <%= f.text_field :main_office_town %>
              <% end %>

              <%= f.form_row :main_office_county do %>
                <%= f.errors_for :main_office_county %>
                <%= f.label :main_office_county, t('questionnaire.step_one.address.label_four'), class: 'form__label-heading' %>
                <%= f.text_field :main_office_county %>
              <% end %>

              <%= f.form_row :main_office_postcode do %>
                <%= f.errors_for :main_office_postcode %>
                <%= f.label :main_office_postcode, t('questionnaire.step_one.address.label_five'), class: 'form__label-heading' %>
                <%= f.text_field :main_office_postcode %>
              <% end %>
            </div>
          </div>
        </fieldset>

        <fieldset class="form__group">
          <legend class="l-questionnaire__legend"><%= t('questionnaire.step_one.accept_customers_from.heading') %></legend>
          <p><%= t('questionnaire.step_one.accept_customers_from.description') %></p>

          <%= f.form_row :accept_customers_from do %>
            <%= f.errors_for :accept_customers_from %>
            <% t('questionnaire.step_one.accept_customers_from.items').each do |item| %>
              <div class="form__group-item l-questionnaire__two-cols">
                <label>
                  <%= f.check_box :accept_customers_from, class: 'form__group-input' %>
                  <%= item[:text] %>
                </label>
              </div>
            <% end %>
          <% end %>
        </fieldset>
      </section>

      <hr>

      <section>
        <%= heading_tag(t('questionnaire.step_one.providing_your_services.heading'), level: 2, class: 'heading-small') %>
        <p class="l-questionnaire__section-description"><%= t('questionnaire.step_one.providing_your_services.description') %></p>

        <fieldset class="form__group">
          <legend class="l-questionnaire__legend"><%= t('questionnaire.step_one.in_person_advice.heading') %></legend>

          <%= f.form_row :advice_in_person do %>
            <% t('questionnaire.step_one.in_person_advice.items').each do |item| %>
              <%= f.errors_for :advice_in_person %>
              <div class="form__group-item">
                <label>
                  <%= f.check_box :advice_in_person, class: 'form__group-input' %>
                  <%= item[:text] %>
                </label>
              </div>
            <% end %>
          <% end %>
        </fieldset>

        <fieldset class="form__group">
          <legend class="l-questionnaire__legend"><%= t('questionnaire.step_one.other_methods_of_advice.heading') %></legend>

          <%= f.form_row :advice_by_other_methods do %>
            <% t('questionnaire.step_one.other_methods_of_advice.items').each do |item| %>
              <%= f.errors_for :advice_by_other_methods %>
              <div class="form__group-item">
                <label>
                  <%= f.check_box :advice_by_other_methods, class: 'form__group-input' %>
                  <%= item[:text] %>
                </label>
              </div>
            <% end %>
          <% end %>
        </fieldset>

        <fieldset class="form__group form__group--inline">
          <legend class="l-questionnaire__legend"><%= t('questionnaire.step_one.initial_meeting.heading') %></legend>

          <%= f.form_row :accept_customers_from do %>
            <%= f.errors_for :free_initial_meeting %>
            <div class="form__group-item">
              <label>
                <%= f.radio_button :free_initial_meeting, 0,  class: 'form__group-input' %>
                <%= t('yes') %>
              </label>
            </div>

            <div class="form__group-item">
              <label>
                <%= f.radio_button :free_initial_meeting, 0,  class: 'form__group-input' %>
                <%= t('no') %>
              </label>
            </div>
          <% end %>
        </fieldset>

        <fieldset class="form__group form__group--inline">
          <legend class="l-questionnaire__legend"><%= t('questionnaire.step_one.initial_meeting_duration.heading') %></legend>

          <%= f.form_row :initial_meeting_duration do %>
            <% t('questionnaire.step_one.initial_meeting_duration.items').each do |item| %>
            <%= f.errors_for :initial_meeting_duration %>
            <div class="form__group-item">
              <label>
                <%= f.radio_button :initial_meeting_duration, 0, class: 'form__group-input' %>
                <%= item[:text] %>
              </label>
            </div>
            <% end %>
          <% end %>
        </fieldset>
      </section>

      <hr>

      <section>
        <%= heading_tag(t('questionnaire.step_one.service_charges.heading'), level: 2, class: 'heading-small') %>
        <p class="l-questionnaire__section-description"><%= t('questionnaire.step_one.service_charges.description') %></p>

        <fieldset class="form__group">
          <legend class="l-questionnaire__legend"><%= t('questionnaire.step_one.initial_advice_fee.heading') %></legend>

          <%= f.form_row :initial_advice_fee_structure do %>
            <%= f.errors_for :initial_advice_fee_structure %>
            <% t('questionnaire.step_one.initial_advice_fee.items').each do |item| %>
              <div class="form__group-item">
                <label>
                  <%= f.check_box :initial_advice_fee_structure, class: 'form__group-input' %>
                  <%= item[:text] %>
                </label>
              </div>
            <% end %>
          <% end %>
        </fieldset>

        <fieldset class="form__group">
          <legend class="l-questionnaire__legend"><%= t('questionnaire.step_one.ongoing_advice_fee.heading') %></legend>

          <%= f.form_row :ongoing_advice_fee_structure do %>
            <%= f.errors_for :ongoing_advice_fee_structure %>
              <% t('questionnaire.step_one.ongoing_advice_fee.items').each do |item| %>
              <div class="form__group-item">
                <label>
                  <%= f.check_box :ongoing_advice_fee_structure, class: 'form__group-input' %>
                  <%= item[:text] %>
                </label>
              </div>
            <% end %>
          <% end %>
        </fieldset>

        <fieldset class="form__group">
          <legend class="l-questionnaire__legend"><%= t('questionnaire.step_one.payment_methods.heading') %></legend>

          <%= f.form_row :allow_customers_to_pay_for_advice do %>
            <%= f.errors_for :allow_customers_to_pay_for_advice %>
            <% t('questionnaire.step_one.payment_methods.items').each do |item| %>
              <div class="form__group-item">
                <label>
                  <%= f.check_box :allow_customers_to_pay_for_advice, class: 'form__group-input' %>
                  <%= item[:text] %>
                </label>
              </div>
            <% end %>
          <% end %>
        </fieldset>

          <div class="l-questionnaire__row">
            <div class="l-questionnaire__field">
              <%= f.form_row :minimum_fixed_one_off_fee_amount do %>
                <%= f.errors_for :minimum_fixed_one_off_fee_amount %>
                <div class="form__group-item">
                  <%= f.label :minimum_fixed_one_off_fee_amount, t('questionnaire.step_one.minimum_fixed_fee'), class: 'form__label-heading' %>
                  <%= f.text_field :minimum_fixed_one_off_fee_amount, class: 'form__group-input' %>
                </div>
              <% end %>
            </div>
          </div>
        </fieldset>
      </section>

      <div class="l-questionnaire__button">
        <%= button_primary t('questionnaire.step_one.button_next') %>
      </div>
    <% end %>
  </section>
</div>
