<%= render_breadcrumbs(breadcrumbs_trading_name_new) %>

<div class="l-self-service">

  <h1 class="t-firm-name">
    <%= t('self_service.trading_name_new.title', firm_name: @firm.registered_name) %>
  </h1>

  <%= form_for @firm,
               url: self_service_trading_names_path(@firm),
               builder: Dough::Forms::Builders::Validation,
               html: { class: 'form' } do |f| %>

    <%= hidden_field_tag 'lookup_id', params[:lookup_id] %>
    <%= render partial: 'self_service/firms/form', locals: {f: f} %>

  <% end %>
</div>
