<h1>
  <%= @firm.registered_name %>
  <small>FCA Number <%= @firm.fca_number %></small>
</h1>

<div class="panel panel-default">
  <div class="panel-body">
    <p>
      <strong>Principal:</strong>
      <%= link_to "#{@firm.principal.first_name} #{@firm.principal.last_name}", resource_path %>
      <ul>
        <li><strong>Principal Email:</strong> <%= mail_to @firm.principal.email_address %></li>
        <li><strong>Principal Phone:</strong> <%= @firm.principal.telephone_number %></li>
      </ul>
    </p>
    <p>
      <strong>FCA Number:</strong> <%= @firm.fca_number %>
    </p>
    <p>
      <strong>Registered Name:</strong> <%= @firm.registered_name %>
    </p>
    <% if @firm.respond_to?(:website_address) %>
      <p>
        <strong>Website Address:</strong> <%= link_to @firm.website_address if @firm.website_address %>
      </p>
    <% end %>
    <p>
      <strong>Added:</strong> <%= @firm.created_at.to_s(:long) %>
    </p>
    <p class="t-approved-at">
      <strong>Approved:</strong> <%= @firm.approved_at&.to_s(:long) || 'Not approved' %>
    </p>
    <% if @firm.is_a?(TravelInsuranceFirm) %>
    <p>
      <strong>Reregistered:</strong> <%= @firm.reregistered_at&.to_s(:long) || 'Not reregistered' %>
    </p>
    <p class="t-reregister-approved-label">
      <strong>Reregistration Approved:</strong> <%= @firm.reregister_approved_at&.to_s(:long) || 'Not reregister approved' %>
    </p>
      <% if @firm.requires_reregistration_approval? %>
        <p>
          <%= button_to('Approve Reregistration', admin_travel_insurance_firm_reregister_approve_path(@firm), class: 'btn btn-success t-reregister-approve', method: :post) %>
        </p>
      <% end %>
    <% end %>
    <% if @firm.publishable? %>
      <% if @firm.approved_at.blank?  %>
        <p>
          <%= button_to('Approve Firm',
                        approval_path,
                        class: 'btn btn-success',
                        method: :post) %>
        </p>
      <% elsif @firm.class.name == "TravelInsuranceFirm" %>
        <%= render 'hide_firm_section' %>
      <% end %>
    <% end %>
  </div>
</div>

<%= render 'admin/shared/sign_in_as_principal', principal: @firm.principal %>
<%= render 'extra_sections' %>
