<fieldset class="form__group">
  <legend class="l-questionnaire__legend"><%= t('questionnaire.email_address.heading') %></legend>
  <p><%= t('questionnaire.email_address.description') %></p>

  <div class="l-questionnaire__row">
    <div class="l-questionnaire__field form__group-item">
      <%= f.form_row :email_address do %>
        <%= f.errors_for :email_address %>
        <%= f.label :email_address, t('questionnaire.email_address.label'), class: 'form__label-heading' %>
        <%= f.text_field :email_address, class: 't-email-address' %>
      <% end %>
    </div>
  </div>
</fieldset>

<fieldset class="form__group">
  <legend class="l-questionnaire__legend"><%= t('questionnaire.telephone_number.heading') %></legend>
  <p><%= t('questionnaire.telephone_number.description') %></p>

  <div class="l-questionnaire__row">
    <div class="l-questionnaire__field form__group-item">
      <%= f.form_row :telephone_number do %>
        <%= f.errors_for :telephone_number %>
        <%= f.label :telephone_number, t('questionnaire.telephone_number.label'), class: 'form__label-heading' %>
        <%= f.text_field :telephone_number, class: 't-telephone-number' %>
      <% end %>
    </div>
  </div>
</fieldset>
