<fieldset class="form__group">
  <legend class="l-questionnaire__legend"><%= t('questionnaire.retirement_advice.pension_pot.heading') %></legend>
  <p><%= t('questionnaire.retirement_advice.pension_pot.description') %></p>
  <%= f.form_row :investment_sizes do %>
    <%= f.errors_for :investment_sizes %>
    <%= f.collection_check_boxes(:investment_size_ids, InvestmentSize.all, :id, :name) do |b| %>
      <div class="form__group-item">
        <%= b.label { b.check_box(class: 'form__group-input t-questionnaire__firm-investment-size-id') + b.text } %>
      </div>
    <% end %>
  <% end %>
</fieldset>
