<div class="row">
  <div class="col-xs-10 col-xs-push-2">
    <h1>
      Subsidiaries
      <small>(lookup data)</small>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-2">
    <%= search_form_for @search, url: admin_lookup_subsidiaries_path, method: :get do |f| %>
      <div class="form-group">
        <%= f.label :fca_number_eq, 'Find by FCA Number' %>
        <%= f.search_field :fca_number_eq, class: 'form-control' %>
        <small>Exact matches returned only</small>
      </div>
      <div class="form-group">
        <%= f.label :name_cont, 'Search Subsidiary Names' %>
        <%= f.search_field :name_cont, class: 'form-control' %>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    <% end %>
    <p>
      <%= page_entries_info @subsidiaries %>
    </p>
  </div>
  <div class="col-xs-10">
    <table class="table table-bordered">
      <tr>
        <th><%= sort_link(@search, :fca_number, 'FCA Number') %></th>
        <th><%= sort_link(@search, :name, 'Subsidiary Registered Name') %></th>
        <th><%= sort_link(@search, :created_at, 'Added') %></th>
      </tr>
      <% if @subsidiaries.present? %>
        <% @subsidiaries.each do |subsidiary| %>
          <tr>
            <td>
              <%= link_to subsidiary.fca_number, admin_retirement_firms_path(q: { fca_number_eq: subsidiary.fca_number }) %>
            </td>
            <td>
              <%= link_to subsidiary.name, admin_retirement_firms_path(q: { registered_name_cont: subsidiary.name }) %>
            </td>
            <td><%= subsidiary.created_at.to_s(:short) %></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="3">No subsidiaries to display</td>
        </tr>
      <% end %>
    </table>

    <p>
      <%= paginate @subsidiaries, theme: 'bootstrap' %>
    </p>
  </div>
</div>
