<div class="row <%= file_display %>">
  <div class="row">
    <div class="col-xs-10 col-xs-push-2">
      <h1>
        FCA Import
        <small>(List of files ready for import)</small>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
    </div>
    <div class="col-xs-10">
      <%= form_tag(:admin_lookup_fca_import_index, method: :post) do %>
      <table class="table table-bordered">
        <tr>
          <th>Filename</th>
          <th>Select</th>
        </tr>
        <% @files.each do |file| %>
        <tr>
          <td>
            <%= file %>
          </td>
          <td>
            <%= check_box_tag('files[]',file,true) %>
          </td>
        </tr>
        <% end %>
      </table>
      <%= submit_tag "Import"%>
      <% end %>
    </div>
  </div>
  <hr />
</div>

<% if @import.try(:processed?) %>
<div class="row">
  <div class="row">
    <div class="col-xs-10 col-xs-push-2">
      <h1>
        FCA Import Result
        <small>(Import ready for confirmation)</small>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
    </div>
    <div class="col-xs-10">
      <%= form_tag(admin_lookup_fca_import_path(@import), method: :put) do %>
      <%= hidden_field_tag 'apply' %>
      <table class="table table-bordered">
        <tr>
          <% @tables.each do |t| %>
          <th><%= t %></th>
          <% end %>
        </tr>
        <tr>
          <% @tables.each do |t| %>
          <td>
            <ul>
              <% formatted_diff(*@import.send(t.to_sym)).each do |k, v| %>
              <li><%= "#{k}: #{v}" %></li>
              <% end %>
              </ul>
          </td>
          <% end %>
        </tr>
      </table>
      <div class="row">
        <div class="col-xs-11"><%= submit_tag "Confirm"%></div>
        <%= submit_tag "Cancel"%>
      </div>
      <% end %>
    </div>
  </div>
</div>

<% end %>
<% if @import.try(:processing?)%>
  <div class="row">
    <div class="col-xs-10 col-xs-push-2">
      <h1>
        Importing data at the moment ...
      </h1>
    </div>
  </div>
<% end %>

<div class="row<%= [!@files.empty?, @import].any? ? ' hide' : ' show'%>">
  <div class="row">
    <div class="col-xs-10 col-xs-push-2">
      <h1>
        FCA Import
        <small>(There is not files ready for import)</small>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-push-2">
      <h1>
        FCA Import Result
        <small>(All the imports have been confirmed)</small>
      </h1>
    </div>
  </div>
</div>
