<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end -%><div class="row">
  <div class="col-xs-10 col-xs-push-2">
    <h1>
      FCA Import
      <small>(List of files ready for import)</small>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-2">
  </div>
  <div class="col-xs-10">
    <%= form_tag(:admin_lookup_fca_import_index, method: :post) do %>
    <table class="table table-bordered">
      <tr>
        <th>Filename</th>
        <th>Select</th>
      </tr>
      <% if @files.blank? %>
        <tr>
          <td colspan="2">No files to display</td>
        </tr>
      <% else %>
        <% @files.each do |file| %>
          <tr>
            <td>
              <%= file %>
            </td>
            <td>
              <%= check_box_tag('files[]',file,true) %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
    <%= submit_tag "Import"%>
    <% end %>
  </div>
</div>
