<h1>
  <%= @adviser.name %>
  <small><%= @adviser.reference_number %></small>
</h1>

<div class="panel panel-default">
  <div class="panel-body">
  <%= form_for([:admin, @adviser]) do |f| %>
    <%= render 'admin/shared/errors', model: @adviser %>

    <%= render partial: 'admin/advisers/form', locals: {f: f} %>
  <% end %>
  </div>
</div>
