<h1>
  Advisers
  <% if firm.present? %>
    with <%= firm.registered_name %>
  <% end %>
</h1>

<p>
  <%= page_entries_info @advisers %>
</p>

<table class="table table-bordered">
  <tr>
    <th>Ref Number</th>
    <th>Name</th>
    <% unless firm.present? %>
      <th>Firm</th>
    <% end %>
    <th>Post Code</th>
    <th>Added</th>
  </tr>
  <% if @advisers.present? %>
    <% @advisers.each do |adviser| %>
      <tr>
        <td><%= adviser.reference_number %></td>
        <td><%= link_to adviser.name, admin_adviser_path(adviser) %></td>
        <% unless firm.present? %>
          <td><%= link_to adviser.firm.registered_name, admin_firm_path(adviser.firm) %></td>
        <% end %>
        <td><%= adviser.postcode %></td>
        <td><%= adviser.created_at.to_s(:short) %></td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="5">No advisers to display</td>
    </tr>
  <% end %>
</table>

<p>
  <%= paginate @advisers %>
</p>

