<h1>
  <%= @adviser.name %>
  <small><%= @adviser.reference_number %></small>
</h1>

<div class="panel panel-default">
  <div class="panel-body">
    <p>
      <strong>Reference Number:</strong> <%= @adviser.reference_number %>
    </p>
    <p>
      <strong>Name:</strong> <%= @adviser.name %>
    </p>
    <p>
      <strong>Firm:</strong> <%= link_to @adviser.firm.registered_name, admin_firm_path(@adviser.firm) %>
    </p>
    <p>
      <strong>Post Code:</strong> <%= @adviser.postcode.present? ? @adviser.postcode : 'unset' %>
    </p>
    <% if @adviser.latitude.present? && @adviser.longitude.present? %>
      <p>
        <strong>Map:</strong>
        <%= link_to "#{@adviser.latitude}, #{@adviser.longitude}", "http://maps.google.com/maps?z=12&t=m&q=#{@adviser.latitude},#{@adviser.longitude}" %>
      </p>
    <% end %>
    <p>
      <strong>Travel Distance:</strong> <%= @adviser.travel_distance > 0 ? "#{@adviser.travel_distance} miles" : 'unset' %>
    </p>
    <p>
      <strong>Qualifications:</strong>
      <ul>
      <% @adviser.qualifications.each do |qualification| %>
        <li><%= qualification.name %></li>
      <% end %>
      </ul>
    </p>
    <p>
      <strong>Accreditations:</strong>
      <ul>
      <% @adviser.accreditations.each do |accreditation| %>
        <li><%= accreditation.name %></li>
      <% end %>
      </ul>
    </p>
    <p>
      <strong>Added:</strong> <%= @adviser.created_at.to_s(:long) %>
    </p>
  </div>
</div>

<p><%= link_to('Edit Adviser', edit_admin_adviser_path) %></p>
