<h2>Advisers</h2>
<% if @firm.advisers.present? %>
  <p>
    <%= @firm.registered_name %> has the following advisers:
  </p>

  <ul>
    <% @firm.advisers.each do |adviser| %>
      <li class='t-adviser'><%= link_to adviser.name, admin_adviser_path(adviser) %>, added <%= adviser.created_at.strftime("%d %b %Y") %></li>
    <% end %>
  </ul>

  <%= button_to 'Move advisers', new_admin_move_adviser_path, class: 't-move-advisers', method: :get, form_class: 'firm__move-advisers' %>
<% else %>
  <p>No advisers registered.</p>
<% end %>

<%= link_to 'New adviser (without reference number)', new_admin_retirement_firm_adviser_path(@firm), class: 'btn btn-success t-new-adviser', method: :get %>
