
<div class="form-group">
  <label>Filter by Service</label>
  <div class="checkbox">
    <%= f.label :ethical_investing_flag_true do %>
      <%= f.check_box :ethical_investing_flag_true,
                      { class: 't-ethical-investing-flag-field' },
                      '1', nil %>Ethical investments
    <% end %>
    <%= f.label :sharia_investing_flag_true do %>
      <%= f.check_box :sharia_investing_flag_true,
                      { class: 't-sharia-investing-flag-field' },
                      '1', nil %>Sharia compliant investments
    <% end %>
    <%= f.label :workplace_financial_advice_flag_true do %>
      <%= f.check_box :workplace_financial_advice_flag_true,
                      { class: 't-workplace-financial-advice-flag' },
                      '1', nil %>Workplace financial advice
    <% end %>
    <%= f.label :languages_array_present do %>
      <%= f.check_box :languages_array_present,
                      class: 't-languages-field' %>Languages selected
    <% end %>
  </div>
</div>
