<h1>Please confirm</h1>

<p>Please confirm you want to:</p>
<dl>
  <dt>Move:</dt>
  <% @form.advisers_to_move.each do |adviser| %>
    <dd class="t-adviser"><%= adviser.name %></dd>
  <% end %>
  <dt>From:</dt><dd><span class="t-from_firm"><%= @form.from_firm.registered_name %></span></dd>
  <dt>To:</dt><dd><span class="t-to_firm"><%= @form.to_firm.registered_name %></span></dd>
</dl>

<%= form_for(@form, url: move_admin_move_advisers_path) do |f| %>
  <div class="t-hidden-fields">
    <% @form.adviser_ids.each do |adviser_id| %>
      <%= f.hidden_field(:adviser_ids, multiple: true, value: adviser_id, class: 't-adviser') %>
    <% end %>
    <%= f.hidden_field(:to_firm_id, class: 't-to_firm_id') %>
  </div>

  <div class="form-group">
    <%= f.submit('Move', class: 't-move') %>
    <%= link_to 'Cancel', admin_firm_path(@form.from_firm), :method => :get %>
  </div>
<% end %>
