<%= form_for(@form, url: choose_to_firm_admin_move_advisers_path, method: :get) do |f| %>
  <h1>Choose advisers to move</h1>

  <%= render 'admin/shared/errors', model: @form %>

  <div class="form-group">
    <%= f.collection_check_boxes(:adviser_ids, @form.from_firm.advisers.order(:reference_number),
          :id, ->(adviser) { "(#{adviser.reference_number}) #{adviser.name}" }) do |b| %>
      <div class="checkbox">
        <%= b.label { b.check_box(class: 't-adviser') + b.text } %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.submit('Next', class: 't-next') %>
  </div>
<% end %>
