<div class="table-wrapper">
  <table class="l-half-width">
    <thead>
      <tr>
        <th><%= Firm.human_attribute_name(:fca_number) %></th>
        <th><%= Firm.human_attribute_name(:registered_name)  %></th>
        <th><%= t('dashboard.firms_index.principal_column_heading') %></th>
      </tr>
    </thead>
    <tbody class="js-filter-rows">
      <% @trading_names.sorted_by_registered_name.each do |trading_name| %>
        <tr class="t-trading-name-table-row">
          <td class="js-filterable t-frn"><%= trading_name.fca_number %></td>
          <td class="js-filterable t-firm-name">
            <%= link_to edit_dashboard_trading_name_path(trading_name), class: 't-edit-link' do %>
              <%= trading_name.registered_name %>
            <% end %>
          </td>
          <td class="js-filterable t-principal-name"><%= trading_name.principal.full_name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
