<div class="l-constrained">

  <h1 class="t-firm-name">
    <%= @firm.registered_name %>
  </h1>

  <%= form_for @firm,
               url: dashboard_firm_path(@firm),
               builder: Dough::Forms::Builders::Validation,
               html: { class: 'form' } do |f| %>

    <% if @firm.errors.any? %>
      <div class="t-validation-summary">
        <%= f.validation_summary %>
      </div>
    <% end %>

    <section class="form-section">
      <div class="form-section__heading-with-button">
        <h2 class="form-section__heading-with-button__heading"><%= t('dashboard.firm_edit.firm_heading') %></h2>
        <a class="form-section__heading-with-button__button button button--primary"><%= t('dashboard.add_trading_name_button') %></a>
      </div>
      <%= render partial: 'dashboard/firms/questionnaire/firm_details', locals: {f: f} %>
      <%= render partial: 'dashboard/firms/questionnaire/links', locals: {f: f} %>
    </section>

    <hr>

    <section>
      <%= heading_tag(t('questionnaire.providing_your_services.heading'), level: 2, class: 'heading-small') %>
      <p class="l-questionnaire__section-description"><%= t('questionnaire.providing_your_services.description') %></p>

      <%= render partial: 'dashboard/firms/questionnaire/advice_methods', locals: {f: f} %>
      <%= render partial: 'dashboard/firms/questionnaire/initial_meeting', locals: {f: f} %>
    </section>

    <hr>

    <section>
      <%= heading_tag(t('questionnaire.service_charges.heading'), level: 2, class: 'heading-small') %>
      <p><%= t('questionnaire.service_charges.description') %></p>
      <p class="l-questionnaire__section-description"><%= t('questionnaire.service_charges.hint') %></p>

      <%= render partial: 'dashboard/firms/questionnaire/fee_structures', locals: {f: f} %>
      <%= render partial: 'dashboard/firms/questionnaire/payment_methods', locals: {f: f} %>
      <%= render partial: 'dashboard/firms/questionnaire/minimum_fee', locals: {f: f} %>
    </section>

    <hr>

    <section>
      <%= heading_tag(t('questionnaire.retirement_advice.business_split.heading'), level: 2, class: 'heading-small') %>
      <p><%= t('questionnaire.retirement_advice.business_split.description') %></p>

      <%= render partial: 'dashboard/firms/questionnaire/business_split', locals: {f: f} %>
    </section>

    <hr>

    <section>
      <%= heading_tag(t('questionnaire.retirement_advice.typical_customer.heading'), level: 2, class: 'heading-small') %>
      <p class="l-questionnaire__section-description"><%= t('questionnaire.retirement_advice.typical_customer.description') %></p>

      <%= render partial: 'dashboard/firms/questionnaire/investment_sizes', locals: {f: f} %>
    </section>

    <%= f.submit class: 't-save-button' %>

  <% end %>
</div>
