<div class="l-constrained">

  <div class="t-firm-name">
    <%= @firm.registered_name %>
  </div>

  <%= form_for @firm,
               url: dashboard_firm_path(@firm),
               builder: Dough::Forms::Builders::Validation,
               html: { class: 'form' } do |f| %>

    <% if @firm.errors.any? %>
      <div class="t-validation-summary">
        <%= f.validation_summary %>
      </div>
    <% end %>

    <section>
      <%= render partial: 'dashboard/firms/questionnaire/email_and_phone', locals: {f: f} %>
      <%= render partial: 'dashboard/firms/questionnaire/address', locals: {f: f} %>
    </section>

    <hr>

    <section>
      <%= heading_tag(t('questionnaire.providing_your_services.heading'), level: 2, class: 'heading-small') %>
      <p class="l-questionnaire__section-description"><%= t('questionnaire.providing_your_services.description') %></p>

      <%= render partial: 'dashboard/firms/questionnaire/advice_methods', locals: {f: f} %>
      <%= render partial: 'dashboard/firms/questionnaire/initial_meeting', locals: {f: f} %>
    </section>

    <hr>

    <section>
      <%= heading_tag(t('questionnaire.service_charges.heading'), level: 2, class: 'heading-small') %>
      <p><%= t('questionnaire.service_charges.description') %></p>
      <p class="l-questionnaire__section-description"><%= t('questionnaire.service_charges.hint') %></p>

      <%= render partial: 'dashboard/firms/questionnaire/fee_structures', locals: {f: f} %>
      <%= render partial: 'dashboard/firms/questionnaire/payment_methods', locals: {f: f} %>
      <%= render partial: 'dashboard/firms/questionnaire/minimum_fee', locals: {f: f} %>
    </section>

    <hr>

    <section>
      <%= heading_tag(t('questionnaire.retirement_advice.business_split.heading'), level: 2, class: 'heading-small') %>
      <p><%= t('questionnaire.retirement_advice.business_split.description') %></p>

      <%= render partial: 'dashboard/firms/questionnaire/business_split', locals: {f: f} %>
    </section>

    <hr>

    <section>
      <%= heading_tag(t('questionnaire.retirement_advice.typical_customer.heading'), level: 2, class: 'heading-small') %>
      <p class="l-questionnaire__section-description"><%= t('questionnaire.retirement_advice.typical_customer.description') %></p>

      <%= render partial: 'dashboard/firms/questionnaire/investment_sizes', locals: {f: f} %>
    </section>

    <%= f.submit class: 't-save-button' %>

  <% end %>
</div>
