<div class="l-constrained">
  <%= render_breadcrumbs [{ text: 'Dashboard', url: dashboard_root_path },
                          { text: 'Firms' }] %>

  <h2><%= t('dashboard.firms_index.firm_heading') %></h2>
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th><%= Firm.human_attribute_name(:fca_number) %></th>
          <th><%= Firm.human_attribute_name(:registered_name) %></th>
          <th><%= t('dashboard.firms_index.principal_column_heading') %></th>
        </tr>
      </thead>
      <tbody>
        <tr class="t-parent-firm-table-row">
          <td class="t-frn"><%= @firm.fca_number %></td>
          <td class="t-firm-name"><%= @firm.registered_name %></td>
          <td class="t-principal-name"><%= @firm.principal.full_name %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <h2><%= t('dashboard.firms_index.trading_names_heading') %></h2>
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th><%= Firm.human_attribute_name(:fca_number) %></th>
          <th><%= Firm.human_attribute_name(:registered_name)  %></th>
          <th><%= t('dashboard.firms_index.principal_column_heading') %></th>
        </tr>
      </thead>
      <tbody>
        <% @trading_names.each do |trading_name| %>
          <tr class="t-trading-name-table-row">
            <td class="t-frn"><%= trading_name.fca_number %></td>
            <td class="t-firm-name"><%= trading_name.registered_name %></td>
            <td class="t-principal-name"><%= trading_name.principal.full_name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
