<%= render_breadcrumbs [{ locale_key: 'dashboard.navigation.root', url: dashboard_root_path },
                        { locale_key: 'dashboard.navigation.firms' }] %>

<div class="l-constrained">
  <h2><%= t('dashboard.firms_index.firm_heading') %></h2>
  <div class="table-wrapper">
    <table class="l-half-width">
      <thead>
        <tr>
          <th><%= Firm.human_attribute_name(:fca_number) %></th>
          <th><%= Firm.human_attribute_name(:registered_name) %></th>
          <th><%= t('dashboard.firms_index.principal_column_heading') %></th>
        </tr>
      </thead>
      <tbody>
        <tr class="t-parent-firm-table-row">
          <td class="t-frn"><%= @firm.fca_number %></td>
          <td class="t-firm-name">
            <%= link_to edit_dashboard_firm_path(@firm), class: 't-edit-link' do %>
              <%= @firm.registered_name %>
            <% end %>
          </td>
          <td class="t-principal-name"><%= @firm.principal.full_name %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="firm-list" data-dough-component="FilterTable">
    <h2><%= t('dashboard.firms_index.trading_names_heading') %></h2>
    <%= filter_field :trading_names, locale_prefix: 'dashboard.firms_index.trading_names_filter' %>
    <div class="table-wrapper">
      <table class="l-half-width">
        <thead>
          <tr>
            <th><%= Firm.human_attribute_name(:fca_number) %></th>
            <th><%= Firm.human_attribute_name(:registered_name)  %></th>
            <th><%= t('dashboard.firms_index.principal_column_heading') %></th>
          </tr>
        </thead>
        <tbody class="js-filter-rows">
          <% @trading_names.each do |trading_name| %>
            <tr class="t-trading-name-table-row">
              <td class="js-filterable t-frn"><%= trading_name.fca_number %></td>
              <td class="js-filterable t-firm-name"><%= trading_name.registered_name %></td>
              <td class="js-filterable t-principal-name"><%= trading_name.principal.full_name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
