<% name = @resource.principal.first_name + " " + @resource.principal.last_name %>
<p>
  <%= t('.salutation', name: name) %>
</p>
<p>
  <%= t('.great_news', firm_name: @resource.principal.firm.registered_name) %>
</p>
<p>
  <%= link_to t('.activate_account_link'), accept_invitation_url(@resource, :invitation_token => @token), target: '_blank' %>
</p>

<h3><%= t('.multiple_offices_title') %></h3>
<%= t('.multiple_offices_text') %>
