<p><%= t('.salutation', name: @resource.email) %></p>

<p><%= t('.info') %></p>

<p><%= link_to t('.link_text'), edit_password_url(@resource, reset_password_token: @token), class: 't-reset-password-link' %></p>

<p><%= t('.did_not_request') %></p>
<p><%= t('.warning') %></p>
