<h1>
  <%= @user.principal.first_name %> <%= @user.principal.last_name %>
  <small>FCA Number <%= @user.principal.fca_number %></small>
</h1>

<div class="panel panel-default">
  <div class="panel-body">
  <%= form_for @user, url: resource_path, method: :put do |f| %>
    <%= render 'admin/shared/errors', model: @user %>

    <div class="form-group">
      <%= f.label :email_address, 'Email address (for login only)' %>
      <%= f.text_field :email, class: 'form-control t-email-address' %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control t-password' %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control t-password-confirmation' %>
    </div>

    <%= f.submit 'Save', class: 'btn btn-primary t-save' %>
  <% end %>
  </div>
</div>
