<div class="l-constrained">
  <div class="l-3col-even">
    <div class="l-heading-with-link">
      <h2><%= t('self_service.firms_heading') %></h2>
      <%= link_to(t('self_service.view_all_firms_link'),
                  self_service_firms_path,
                  class: 't-view-all-firms') if @firms.count > 3 %>
    </div>

    <ul class="self-service-list">
      <%= render partial: 'self_service/firms/firm', collection: @firms.most_recently_updated(limit: 3) %>
    </ul>

    <div class="self-service__action-button">
      <%= button_primary t('self_service.add_trading_name_button') %>
    </div>
  </div>

  <div class="l-3col-even">
    <h2><%= t('self_service.advisers_heading') %></h2>
    <ul class="self-service-list">
      <%= render partial: 'self_service/advisers/adviser', collection: @advisers.most_recently_edited %>
    </ul>

    <div class="self-service__action-button">
      <%= button_primary t('self_service.add_adviser_button') %>
    </div>
  </div>
</div>
