
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="MAS Retirement Adviser Directory Administration">
  <meta name="author" content="Team A">
  <title>RAD Administration</title>
  <%= stylesheet_link_tag 'admin' %>
</head>

<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/admin">RAD Administration</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if current_page?(controller: :pages, action: :home) %>"><%= link_to 'Home', admin_root_path %></li>
        <li class="<%= 'active' if current_page?(controller: :firms) %>"><%= link_to 'Firms', admin_firms_path %></li>
        <li class="<%= 'active' if current_page?(controller: :advisers) %>"><%= link_to 'Advisers', admin_advisers_path %></li>
        <li class="<%= 'active' if current_page?(controller: :principals) %>"><%= link_to 'Principals', admin_principals_path %></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <%= yield %>
</div>

<footer class="footer">
  <div class="container">
    <p class="text-muted">Money Advice Service 2015</p>
  </div>
</footer>

</body>
</html>
