<!DOCTYPE html>
<html>
<head>
  <title>Retirement Advisor Directory</title>
  <%= stylesheet_link_tag 'dough/assets/stylesheets/basic' %>
  <%= stylesheet_link_tag 'dough/assets/stylesheets/font_files' %>

  <script>
    <%= raw Rails.application.assets['modernizr/modernizr'] %>
  </script>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
