<!DOCTYPE html>
<html>
<head>
  <title>Retirement Advisor Directory</title>
  <%= stylesheet_link_tag 'dough/assets/stylesheets/basic' %>
  <%= stylesheet_link_tag 'dough/assets/stylesheets/font_files' %>

  <%= render 'layouts/mas_head' %>

  <!--[if ( gte IE 7 ) & ( lte IE 8 ) & (!IEMobile) ]>
    <%= stylesheet_link_tag 'enhanced_fixed', media: 'all' %>
    <script>var responsiveStyle = false;</script>
  <![endif]-->

  <%# Responsive styles for all modern devices, excluded from older IE version %>
  <!--[if ( !IE ) | ( gte IE 9 ) ]><!-->
    <%= stylesheet_link_tag 'enhanced_responsive', media: 'only all' %>
    <script>var responsiveStyle = true;</script>
  <!--<![endif]-->

  <script>
    <%= raw Rails.application.assets['modernizr/modernizr'] %>
  </script>

  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'shared/skip_links' %>
<%= render 'shared/header' %>
<%= render 'shared/alerts' %>

<main role="main">
  <%= render 'shared/adviser_sign_in' %>
  <%= yield %>
</main>

<%= render 'shared/footer' %>

</body>
</html>
