<!DOCTYPE html>
<html class="<%= 'dev' if Rails.env.development? %>">
<head>
  <title>Directories</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'dough/assets/stylesheets/basic' %>
  <%= stylesheet_link_tag 'dough/assets/stylesheets/font_files' %>

  <%= render 'layouts/mas_head' %>

  <!--[if ( gte IE 7 ) & ( lte IE 8 ) & (!IEMobile) ]>
    <%= stylesheet_link_tag 'enhanced_fixed', media: 'all' %>
    <script>var responsiveStyle = false;</script>
  <![endif]-->

  <%# Responsive styles for all modern devices, excluded from older IE version %>
  <!--[if ( !IE ) | ( gte IE 9 ) ]><!-->
    <%= stylesheet_link_tag 'enhanced_responsive', media: 'only all' %>
    <script>var responsiveStyle = true;</script>
  <!--<![endif]-->

  <%= javascript_include_tag('modernizr/modernizr') %>
</head>
<body>
<%= render 'shared/svg_icons' %>
<%= render 'shared/skip_links' %>
<%= render 'shared/header' %>
<%= yield :breadcrumbs %>

<main role="main" id="main">
  <div class='l-constrained'>
    <div class="<%= layout_class %>">
      <%= render 'shared/alerts' %>
      <%= yield :notifications %>
      <%= yield %>
  <%= respond_to?(:header_partial) ? render(header_partial): render('shared/header') %>
    </div>
  </div>
</main>

<%= render 'shared/footer' %>
<%= javascript_include_tag 'requirejs/require', data: { main: javascript_path('application') } %>
</body>
</html>
