<section class="l-identity">
  <%= heading_tag(t(registration_title), level: 1) %>
  <p><%= t('travel_insurance_registrations.intro') %></p>

  <%= form_for @form,
    url: { controller: controller_name, action: 'create' },
    method: :post,
    html: { class: 'form' },
    builder: Dough::Forms::Builders::Validation do |f| %>
    <%= f.validation_summary %>

    <div class="l-identity__row">
      <div class="l-identity__field">
        <%= f.form_row(:fca_number) do %>
          <%= f.errors_for :fca_number %>
          <%= f.label :fca_number, t('travel_insurance_registrations.reference_number'), class: 'form__label-heading' %>
          <%= f.text_field :fca_number, class: 't-reference-number', maxlength: 6 %>
        <% end %>
      </div>
    </div>

    <hr>

    <div class="l-identity__row">
      <div class="l-identity__field l-identity__field--wide">
        <p><%= t('travel_insurance_registrations.prompt') %></p>
      </div>
    </div>

    <div class="l-identity__row">
      <div class="l-identity__field">
        <%= f.form_row(:first_name) do %>
          <%= f.errors_for :first_name %>
          <%= f.label :first_name, t('registration.principal.first_name'), class: 'form__label-heading' %>
          <%= f.text_field :first_name, class: 't-first-name' %>
        <% end %>
      </div>
    </div>

    <div class="l-identity__row">
      <div class="l-identity__field">
        <%= f.form_row(:last_name) do %>
          <%= f.errors_for :last_name %>
          <%= f.label :last_name, t('registration.principal.last_name'), class: 'form__label-heading' %>
          <%= f.text_field :last_name, class: 't-last-name' %>
        <% end %>
      </div>
    </div>

    <div class="l-identity__row">
      <div class="l-identity__field">
        <%= f.form_row(:job_title) do %>
          <%= f.errors_for :job_title %>
          <%= f.label :job_title, t('registration.principal.job_title'), class: 'form__label-heading' %>
          <%= f.text_field :job_title, class: 't-job-title' %>
        <% end %>
      </div>
    </div>

    <div class="l-identity__row">
      <div class="l-identity__field">
        <%= f.form_row(:email) do %>
          <%= f.errors_for :email %>
          <%= f.label :email, t('registration.principal.email_address'), class: 'form__label-heading' %>
          <%= f.text_field :email, class: 't-email-address' %>
        <% end %>
      </div>
    </div>

    <div class="l-identity__row">
      <div class="l-identity__field">
        <%= f.form_row(:telephone_number) do %>
          <%= f.errors_for :telephone_number %>
          <%= f.label :telephone_number, t('registration.principal.telephone_number'), class: 'form__label-heading' %>
          <%= f.text_field :telephone_number, class: 't-telephone-number' %>
        <% end %>
      </div>
    </div>

    <div class="l-identity__row">
      <div class="l-identity__field">
        <%= render 'shared/password_policy' %>
      </div>
    </div>

    <%= f.hidden_field :registration_type, value: controller_name %>

    <div class="l-identity__row">
      <div class="l-identity__field">
        <%= f.form_row(:password) do %>
          <%= f.errors_for :password %>
          <%= f.label :password, t('registration.user.password'), class: 'form__label-heading' %>
          <%= f.password_field :password, class: 't-password' %>
        <% end %>
      </div>
    </div>

    <div class="l-identity__row">
      <div class="l-identity__field">
        <%= f.form_row(:password_confirmation) do %>
          <%= f.errors_for :password_confirmation %>
          <%= f.label :password_confirmation, t('registration.user.password_confirmation'), class: 'form__label-heading' %>
          <%= f.password_field :password_confirmation, class: 't-password-confirmation' %>
        <% end %>
      </div>
    </div>

    <div class="l-identity__row">
      <div class="l-identity__field l-identity__field--wide">
        <%= f.form_row(:confirmed_disclaimer) do %>
          <%= f.errors_for :confirmed_disclaimer %>
          <%= f.check_box :confirmed_disclaimer, class: 'l-identity__checkbox t-confirmation' %>
          <%= f.label :confirmed_disclaimer, t('travel_insurance_registrations.confirmation_statement_html'), class: 'l-identity__disclaimer-label' %>
        <% end %>
      </div>
    </div>

  <%= button_primary t('registration.register_button') %>
<% end %>
</section>
