<%= heading_tag(t(registration_title), level: 1) %>
<p><%= t('travel_insurance_registrations.intro') %></p>

<h2>Step 2 of 4</h2>

<%= form_for @form, url: risk_profile_travel_insurance_registrations_path, html: { class: 'form travel-registration-form' }, builder: Dough::Forms::Builders::Validation do |f| %>
  <%= f.validation_summary %>

  <%= f.form_row :covered_by_ombudsman_question do %>
    <fieldset class="form__group t-covered_by_ombudsman_question">
      <legend class="l-pre-qualification__question l-pre-qualification__question--with-desc"><%= t('registration.covered_by_ombudsman_question.heading') %></legend>
      <p><%= t('registration.covered_by_ombudsman_question.description') %></p>

      <div class="form__group-item">
        <label>
          <%= f.radio_button :covered_by_ombudsman_question, 'true', class: 'form__group-input' %>
          <%= t('registration.answer_yes') %>
        </label>
      </div>

      <div class="form__group-item">
        <label>
          <%= f.radio_button :covered_by_ombudsman_question, 'false', class: 'form__group-input' %>
          <%= t('registration.answer_no') %>
        </label>
      </div>
    </fieldset>
  <% end %>


  <%= f.form_row :risk_profile_approach_question do %>
    <fieldset class="form__group t-risk_profile_approach_question">
      <legend class="l-pre-qualification__question l-pre-qualification__question--with-desc"><%= t('registration.risk_profile_approach_question.heading') %></legend>
      <%= t('registration.risk_profile_approach_question.description_html') %>

      <div class="form__group-item">
        <label>
          <%= f.radio_button :risk_profile_approach_question, 'bespoke', class: 'form__group-input' %>
          <%= t('registration.risk_profile_approach_question.answers.bespoke') %>
        </label>
      </div>

      <div class="form__group-item">
        <label>
          <%= f.radio_button :risk_profile_approach_question, 'questionaire', class: 'form__group-input' %>
          <%= t('registration.risk_profile_approach_question.answers.questionaire') %>
        </label>
      </div>

      <div class="form__group-item">
        <label>
          <%= f.radio_button :risk_profile_approach_question, 'non-proprietary', class: 'form__group-input' %>
          <%= t('registration.risk_profile_approach_question.answers.non_proprietary') %>
        </label>
      </div>

      <div class="form__group-item">
        <label>
          <%= f.radio_button :risk_profile_approach_question, 'neither', class: 'form__group-input' %>
          <%= t('registration.risk_profile_approach_question.answers.neither') %>
        </label>
      </div>
    </fieldset>
  <% end %>

  <%= f.form_row :supplies_documentation_when_needed_question do %>
    <fieldset class="form__group t-supplies_document_when_needed_question">
      <legend class="l-pre-qualification__question l-pre-qualification__question--with-desc"><%= t('registration.supplies_documentation_when_needed_question.heading') %></legend>
      <p><%= t('registration.supplies_documentation_when_needed_question.description_html') %></p>

      <div class="form__group-item">
        <label>
          <%= f.radio_button :supplies_documentation_when_needed_question, 'true', class: 'form__group-input' %>
          <%= t('registration.answer_yes') %>
        </label>
      </div>

      <div class="form__group-item">
        <label>
          <%= f.radio_button :supplies_documentation_when_needed_question, 'false', class: 'form__group-input' %>
          <%= t('registration.answer_no') %>
        </label>
      </div>
    </fieldset>
  <% end %>

  <%= button_primary t('travel_insurance_registrations.register_button') %>
<% end %>
